{
  "openapi": "3.0.3",
  "info": {
    "title": "ClarusWMS API",
    "description": "REST and GraphQL API for ClarusWMS - a multi-tenanted SaaS warehouse management system. This API provides REST mutation endpoints (POST, PUT, DELETE) for managing warehouse operations and GraphQL list endpoints for data retrieval.\n\n**REST mutations** are available at `/api/*` paths.\n\n**GraphQL queries** are available at `/graphql` \u2014 each resource has a documented list query.\n\n## Authentication\n\nAll endpoints require OAuth 2.0 Bearer token authentication. Use the client credentials or authorization code flow to obtain an access token from `https://clarus-api.com/oauth/token`.\n\n## Multi-Tenancy\n\nThis is a multi-tenant system. Each tenant (subdomain) has isolated data. **You must include the `X-Clarus-Subdomain` header with every request** to specify which tenant you are operating on.\n\n### Required Header\n\n| Header | Required | Description |\n|--------|----------|-------------|\n| `X-Clarus-Subdomain` | Yes | The subdomain/tenant name identifying which tenant's data to access |\n\n**Example:**\n```\nX-Clarus-Subdomain: acme-warehouse\n```\n\n## Request Format (JSON:API)\n\nAll REST mutation requests use JSON:API format. Data must be sent within a `data` object containing `type` and `attributes`:\n\n```json\n{\n  \"data\": {\n    \"type\": \"resource_name\",\n    \"attributes\": {\n      \"field1\": \"value1\"\n    }\n  }\n}\n```\n\n## GraphQL Queries\n\nAll data retrieval uses GraphQL at `POST /graphql`. Send a JSON body with `query` and optional `variables`:\n\n```json\n{\n  \"query\": \"query($code: String) { accounts { all(code: $code) { edges { node { id code name } } } } }\",\n  \"variables\": { \"code\": \"ACME\" }\n}\n```",
    "version": "1.0.0",
    "contact": {
      "name": "Clarus Software",
      "url": "https://claruswms.com"
    }
  },
  "servers": [
    {
      "url": "https://clarus-api.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClarusSubdomain": []
    }
  ],
  "tags": [
    {
      "name": "Account Warehouses",
      "description": "Account-warehouse association endpoints for managing which accounts can operate in which warehouses"
    },
    {
      "name": "Accounts",
      "description": "Account/customer management endpoints for 3PL client management"
    },
    {
      "name": "Bookings",
      "description": "Booking diary management endpoints for scheduling inbound and outbound dock appointments"
    },
    {
      "name": "Charge Lines",
      "description": "Charge line management endpoints for billing and invoicing operations"
    },
    {
      "name": "Documents",
      "description": "Document management endpoints for downloading, uploading, and transferring generated files"
    },
    {
      "name": "Goods In Receipts",
      "description": "Inbound receipt management endpoints for receiving inventory into the warehouse"
    },
    {
      "name": "Goods Out: Orders",
      "description": "Outbound order management endpoints for creating, updating, and cancelling sales orders"
    },
    {
      "name": "Goods Out: Pick Lists",
      "description": "Pick list management endpoints for updating and removing pick lists"
    },
    {
      "name": "Goods Out: Processing",
      "description": "Pick processing endpoints for generating pick lists and order fulfillment workflows"
    },
    {
      "name": "Groups",
      "description": "Group management endpoints for organizing products and locations"
    },
    {
      "name": "Integrations",
      "description": "Third-party integration management endpoints for ecommerce, carrier, and ERP connections"
    },
    {
      "name": "Loads",
      "description": "Load management endpoints for grouping shipments onto vehicles"
    },
    {
      "name": "Locations",
      "description": "Location management endpoints for warehouse storage locations"
    },
    {
      "name": "Pickface Products",
      "description": "Pickface product assignment endpoints for managing product-to-pickface-location mappings used in replenishment workflows"
    },
    {
      "name": "Products",
      "description": "Product management endpoints for creating, updating, and deleting products in the warehouse catalog.\n\n## GraphQL Filtering Guide\n\nProducts support individual code/barcode filters: `code`, `barcode`, `case_barcode`, `inner_barcode`, `outer_barcode`. Each supports operators: `eq`, `ilike`, `in`, `like`, `between`. When multiple individual filters are used together, they are AND'd (all conditions must match).\n\n### The `all_codes` filter\n\n`all_codes` is a **specialized cross-field search** that ORs across all 5 code fields (`code`, `barcode`, `case_barcode`, `inner_barcode`, `outer_barcode`) in a single query. It performs exact matching (IN operator), not partial/ILIKE matching.\n\n**When to use `all_codes`:** Only when you have a code or barcode value and don't know which field it belongs to \u2014 e.g., a user scans a barcode that could be a unit barcode, case barcode, inner barcode, or outer barcode.\n\n**When NOT to use `all_codes`:** When you know which specific code field to search. Use the individual filter instead for better performance and precision."
    },
    {
      "name": "Replenishment",
      "description": "Replenishment endpoints for restocking pick faces from bulk storage"
    },
    {
      "name": "Report Queries",
      "description": "Report query management endpoints for custom reporting and data extraction"
    },
    {
      "name": "Reports",
      "description": "Report management endpoints for creating report definitions, updating configurations, and generating report output as downloadable documents"
    },
    {
      "name": "Roles",
      "description": "Role and permission management endpoints for access control"
    },
    {
      "name": "Scheduled Reports",
      "description": "Scheduled report management endpoints for recurring report delivery via email and FTP"
    },
    {
      "name": "Shipments",
      "description": "Shipment management endpoints for carrier integration and parcel tracking"
    },
    {
      "name": "Stocks",
      "description": "Stock management endpoints for inventory operations including holds, moves, transfers, and adjustments"
    },
    {
      "name": "Storage Units",
      "description": "Storage unit management endpoints for containers like pallets, cages, and boxes"
    },
    {
      "name": "Templates",
      "description": "Template management endpoints for creating, updating, and testing Liquid HTML print templates"
    },
    {
      "name": "Users",
      "description": "User management endpoints for system access and permissions"
    },
    {
      "name": "Warehouses",
      "description": "Warehouse management endpoints for multi-site operations"
    }
  ],
  "paths": {
    "/graphql#ListAccountWarehouses": {
      "post": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "List account warehouses",
        "description": "Retrieve account-warehouse associations using GraphQL. Shows which accounts can operate in which warehouses.",
        "operationId": "listAccountWarehouses",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AccountWarehouseFilterType) {\n  account_warehouses {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          account_id\n          warehouse_id\n          account {\n            id\n            code\n            name\n          }\n          warehouse {\n            id\n            code\n            name\n          }\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"account_id\": {\n      \"eq\": \"1\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `account_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by account ID |\n| `warehouse_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by warehouse ID |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AccountWarehouseFilterType) { account_warehouses { all(filter: $filter) { edges { node { id account_id warehouse_id account { id code name } warehouse { id code name } } } } } }",
                "variables": {
                  "filter": {
                    "account_id": {
                      "eq": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "account_warehouses": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Account Warehouses record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "account_warehouses": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "account_id": 1,
                              "account": {
                                "id": "1",
                                "code": "ACME",
                                "name": "Acme Corporation"
                              },
                              "warehouse_id": 1,
                              "warehouse": {
                                "id": "1",
                                "code": "WH1",
                                "name": "Main Warehouse"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/account_warehouses": {
      "post": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Create an account-warehouse association",
        "description": "Links an account to a warehouse, allowing the account to operate in that warehouse. The `account_id` + `warehouse_id` combination must be unique \u2014 duplicates return 422. A nested route alternative exists at `/accounts/{account_id}/warehouses`.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"account_warehouses\",\n    \"attributes\": {\n      \"account_id\": 1,\n      \"warehouse_id\": 1\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `account_id` | Yes | The stock account to associate |\n| `warehouse_id` | Yes | The warehouse to associate |"
        },
        "operationId": "createAccountWarehouse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account_warehouses"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountWarehouseAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "account_warehouses",
                  "attributes": {
                    "account_id": 1,
                    "warehouse_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account-warehouse association created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWarehouseResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "account_warehouses",
                    "relationships": {
                      "account": {
                        "data": {
                          "id": "1",
                          "type": "accounts"
                        }
                      },
                      "warehouse": {
                        "data": {
                          "id": "1",
                          "type": "warehouses"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/account_warehouses/{id}": {
      "put": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Update an account-warehouse association",
        "description": "Update which account or warehouse is linked. Both `account_id` and `warehouse_id` are required. The combination must be unique \u2014 duplicates return 422. A nested route alternative exists at `/accounts/{account_id}/warehouses/{id}`.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"account_warehouses\",\n    \"attributes\": {\n      \"account_id\": 2,\n      \"warehouse_id\": 3\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `account_id` | Yes | The stock account to associate |\n| `warehouse_id` | Yes | The warehouse to associate |"
        },
        "operationId": "updateAccountWarehouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account-warehouse association to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account_warehouses"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountWarehouseAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "account_warehouses",
                  "attributes": {
                    "account_id": 2,
                    "warehouse_id": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account-warehouse association updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWarehouseResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "account_warehouses",
                    "relationships": {
                      "account": {
                        "data": {
                          "id": "2",
                          "type": "accounts"
                        }
                      },
                      "warehouse": {
                        "data": {
                          "id": "3",
                          "type": "warehouses"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Delete an account-warehouse association",
        "description": "Remove the association between an account and warehouse. A nested route alternative exists at `/accounts/{account_id}/warehouses/{id}`.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Removes the account's access to the specified warehouse"
        },
        "operationId": "deleteAccountWarehouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account-warehouse association to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListAccounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Retrieve accounts using GraphQL. Supports filtering, sorting, and pagination via relay-style connections.",
        "operationId": "listAccounts",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AccountFilterType) {\n  accounts {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          code\n          name\n          email\n          is_active\n          external_system_reference1\n          vat_number\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"code\": {\n      \"ilike\": \"ACME\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `code` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Account code |\n| `name` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Account name |\n| `warehouse_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Accounts associated with a warehouse |\n| `is_short_pickable` | BooleanInputType | `eq` | Filter by short pickable setting |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AccountFilterType) { accounts { all(filter: $filter) { edges { node { id code name email is_active external_system_reference1 vat_number } } } } }",
                "variables": {
                  "filter": {
                    "code": {
                      "ilike": "ACME"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "accounts": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Accounts record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "accounts": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "code": "ACME",
                              "name": "Acme Corporation",
                              "email": "warehouse@acme.com",
                              "is_active": true,
                              "external_system_reference1": null,
                              "vat_number": null
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create an account",
        "description": "Create a new account (customer/client) for 3PL operations. Accounts are used to segregate inventory ownership.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"code\": \"ACME\",\n      \"name\": \"Acme Corporation\",\n      \"email\": \"warehouse@acme.com\",\n      \"is_active\": true\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Unique account code |\n| `name` | Yes | Account display name |\n| `email` | No | Primary contact email |\n| `is_active` | No | Whether account is active (default: true) |"
        },
        "operationId": "createAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/accounts/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"name\": \"Acme Corp Updated\",\n      \"email\": \"new-contact@acme.com\",\n      \"is_active\": false\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `name` | No | Updated account name |\n| `email` | No | Updated contact email |\n| `is_active` | No | Activate or deactivate account |"
        },
        "description": "Update an existing account's attributes such as name, code, or operational settings.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Account attributes to update",
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true,
                            "description": "Account code"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 100,
                            "nullable": true,
                            "description": "Account name"
                          },
                          "is_active": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Active status"
                          },
                          "dispatch_strategy": {
                            "type": "string",
                            "enum": [
                              "manual",
                              "auto",
                              "load",
                              "shipment",
                              "auto_shipment"
                            ],
                            "nullable": true,
                            "description": "Dispatch strategy"
                          },
                          "pack_strategy": {
                            "type": "string",
                            "enum": [
                              "disabled",
                              "pack_by_line",
                              "pack_by_unit"
                            ],
                            "nullable": true,
                            "description": "Packing strategy"
                          },
                          "string1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 1"
                          },
                          "string2": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 2"
                          },
                          "string3": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 3"
                          },
                          "string4": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 4"
                          },
                          "string5": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 5"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete an account",
        "description": "Delete an account. Accounts with existing stock or orders cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete accounts with existing stock or orders\n- Consider deactivating with `is_active: false` instead"
        },
        "operationId": "destroyAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListBookings": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "List bookings",
        "description": "Retrieve dock bookings using GraphQL. Supports filtering by status, direction, account, and date range.",
        "operationId": "listBookings",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: BookingFilterType) {\n  bookings {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          booking_reference\n          account_reference\n          status\n          direction\n          start_time\n          end_time\n          haulier\n          notes\n          account {\n            id\n            code\n            name\n          }\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"status\": {\n      \"eq\": \"confirmed\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `booking_reference` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Booking reference |\n| `status` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Booking status |\n| `direction` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Direction (inbound/outbound) |\n| `account_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by account ID |\n| `start_time` | DatetimeInputType | `eq`, `from`, `to`, `between` | Filter by start time |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: BookingFilterType) { bookings { all(filter: $filter) { edges { node { id booking_reference account_reference status direction start_time end_time haulier notes account { id code name } } } } } }",
                "variables": {
                  "filter": {
                    "status": {
                      "eq": "confirmed"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "bookings": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Bookings record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "bookings": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "booking_reference": "BK-001",
                              "account_reference": "PO-12345",
                              "status": "confirmed",
                              "direction": "inbound",
                              "start_time": "2026-03-10T09:00:00Z",
                              "end_time": "2026-03-10T10:00:00Z",
                              "haulier": "Express Logistics",
                              "notes": null,
                              "account": {
                                "id": "1",
                                "code": "ACME",
                                "name": "Acme Corporation"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/bookings": {
      "post": {
        "tags": [
          "Bookings"
        ],
        "summary": "Create a booking",
        "description": "Create a new booking diary entry for scheduling an inbound or outbound dock appointment.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"bookings\",\n    \"attributes\": {\n      \"account_id\": 1,\n      \"location_id\": 10,\n      \"consignment_reference\": \"CONS-2024-001\",\n      \"direction\": \"inbound\",\n      \"hazardous\": false,\n      \"start_time\": \"2024-09-15T08:00:00Z\",\n      \"end_time\": \"2024-09-15T09:00:00Z\",\n      \"haulier\": \"DHL Express\",\n      \"intake_type\": \"full_load\",\n      \"container_number\": \"MSKU1234567\",\n      \"storage_unit_quantity\": 20,\n      \"notes\": \"Fragile goods - handle with care\"\n    }\n  }\n}\n```\n\n## Required Fields\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `account_id` | integer | Stock account ID (owner of the goods) |\n| `location_id` | integer | Dock location ID (must have `available_in_booking_diary` enabled) |\n| `consignment_reference` | string | Consignment reference number |\n| `direction` | string | One of: `inbound`, `outbound` |\n| `hazardous` | boolean | Whether the goods are hazardous |\n| `start_time` | datetime | Booking start time (ISO 8601) |\n| `end_time` | datetime | Booking end time (must be after start_time) |\n\n## Optional Fields\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `account_reference` | string | Account's own reference |\n| `booking_reference` | string | Booking reference number |\n| `container_number` | string | Container number (for container intake) |\n| `haulier` | string | Haulier/carrier name |\n| `intake_type` | string | One of: `container`, `part_load`, `full_load` |\n| `notes` | string | Free text notes |\n| `status` | string | One of: `pending`, `arrived`, `departed`, `fail_to_arrive`, `cancelled` (default: `pending`) |\n| `storage_unit_quantity` | integer | Expected number of storage units (e.g., pallets) |\n\n## Slot Availability Validation\n\nThe system validates that the requested time slot is available before creating the booking.\n\n### Opening Times Compliance\n\nThe location (or its parent warehouse) may have opening times configured. Opening hours vary by day of week, so the system checks the specific day's hours for both start and end times.\n\n**Error Response (code 295):**\n```json\n{\n  \"errors\": [\n    {\n      \"code\": 295,\n      \"symbol\": \"outside_of_opening_times\",\n      \"details\": \"Provided start time is outside of opening times\",\n      \"source\": \"start_time\"\n    }\n  ]\n}\n```\n\n### No Overlapping Bookings\n\nThe system uses time range overlap detection to ensure no other booking exists at the same location during the requested period.\n\n**Error Response (code 296):**\n```json\n{\n  \"errors\": [\n    {\n      \"code\": 296,\n      \"symbol\": \"overlapping_bookings\",\n      \"details\": \"There are overlapping bookings for the selected time slot\",\n      \"source\": \"time_slot\"\n    }\n  ]\n}\n```\n\n## Finding Available Slots Workflow\n\nTo find an available time slot before creating a booking:\n\n1. **Query eligible locations** - Find locations where `available_in_booking_diary` is true (via GraphQL)\n2. **Query existing bookings** - Retrieve bookings for the target date range and location (via GraphQL)\n3. **Calculate gaps** - Identify time gaps that fall within the location's opening hours for the target day of week\n4. **Create booking** - POST /bookings with the chosen slot"
        },
        "operationId": "createBooking",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bookings"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/BookingAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Booking ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "bookings"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/BookingAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/bookings/{id}": {
      "put": {
        "tags": [
          "Bookings"
        ],
        "summary": "Update a booking",
        "description": "Update an existing booking's attributes such as times, status, or details.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"bookings\",\n    \"attributes\": {\n      \"status\": \"arrived\",\n      \"notes\": \"Driver arrived at gate 3\"\n    }\n  }\n}\n```\n\n## Key Fields\n\nAll fields are optional on update. See the create endpoint for the full field reference.\n\n## Status Transitions\n\n| From | Allowed To |\n|------|------------|\n| `pending` | `arrived`, `departed`, `fail_to_arrive`, `cancelled` |\n| `arrived` | `departed`, `cancelled` |\n| `departed` | (terminal) |\n| `fail_to_arrive` | (terminal) |\n| `cancelled` | (terminal) |\n\n**Note**: You cannot transition back to `pending` from any other status (error code 298).\n\n## Slot Re-validation\n\nChanging `start_time`, `end_time`, or `location_id` triggers slot availability re-validation (opening times compliance and overlap detection). The same validation rules as the create endpoint apply."
        },
        "operationId": "updateBooking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the booking to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "bookings"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Booking attributes to update (all fields optional)",
                        "properties": {
                          "account_id": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/AccountId"
                              }
                            ],
                            "nullable": true
                          },
                          "account_reference": {
                            "type": "string",
                            "nullable": true,
                            "description": "Account's own reference"
                          },
                          "booking_reference": {
                            "type": "string",
                            "nullable": true,
                            "description": "Booking reference number"
                          },
                          "consignment_reference": {
                            "type": "string",
                            "nullable": true,
                            "description": "Consignment reference number"
                          },
                          "container_number": {
                            "type": "string",
                            "nullable": true,
                            "description": "Container number"
                          },
                          "direction": {
                            "type": "string",
                            "enum": [
                              "inbound",
                              "outbound"
                            ],
                            "nullable": true,
                            "description": "Direction of goods movement"
                          },
                          "end_time": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Booking end time (ISO 8601)"
                          },
                          "haulier": {
                            "type": "string",
                            "nullable": true,
                            "description": "Haulier/carrier name"
                          },
                          "hazardous": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Whether the goods are hazardous"
                          },
                          "intake_type": {
                            "type": "string",
                            "enum": [
                              "container",
                              "part_load",
                              "full_load"
                            ],
                            "nullable": true,
                            "description": "Type of intake"
                          },
                          "location_id": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/LocationId"
                              }
                            ],
                            "nullable": true
                          },
                          "notes": {
                            "type": "string",
                            "nullable": true,
                            "description": "Free text notes"
                          },
                          "start_time": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "description": "Booking start time (ISO 8601)"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "arrived",
                              "departed",
                              "fail_to_arrive",
                              "cancelled"
                            ],
                            "nullable": true,
                            "description": "Booking status"
                          },
                          "storage_unit_quantity": {
                            "type": "integer",
                            "nullable": true,
                            "description": "Expected number of storage units"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Booking ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "bookings"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/BookingAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Bookings"
        ],
        "summary": "Delete a booking",
        "description": "Delete a booking from the booking diary.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- The booking is permanently removed from the diary"
        },
        "operationId": "destroyBooking",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the booking to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListChargeLines": {
      "post": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "List charge lines",
        "description": "Retrieve charge lines using GraphQL. Supports filtering by charge type, code, date range, and associated records.",
        "operationId": "listChargeLines",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: ChargeLineFilterType) {\n  charge_lines {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          code\n          name\n          charge_type\n          quantity\n          price\n          total\n          unit_of_measure\n          description\n          created_at\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"charge_type\": {\n      \"eq\": \"picking\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `code` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Charge line code |\n| `charge_type` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Type of charge |\n| `goods_in_receipt_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by goods in receipt |\n| `goods_out_order_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by goods out order |\n| `created_at` | DatetimeInputType | `eq`, `from`, `to`, `between` | Filter by creation date |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: ChargeLineFilterType) { charge_lines { all(filter: $filter) { edges { node { id code name charge_type quantity price total unit_of_measure description created_at } } } } }",
                "variables": {
                  "filter": {
                    "charge_type": {
                      "eq": "picking"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "charge_lines": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Charge Lines record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "charge_lines": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "code": "PICK-001",
                              "name": "Picking Charge",
                              "charge_type": "picking",
                              "quantity": 10,
                              "price": 1.5,
                              "total": 15.0,
                              "unit_of_measure": "unit",
                              "description": "Standard picking charge",
                              "created_at": "2026-03-10T08:00:00Z"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/charge_lines": {
      "post": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Create a charge line",
        "description": "Create a new charge line to record a billable item. Charge lines are used for invoicing and billing operations.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"charge_lines\",\n    \"attributes\": {\n      \"charge_basket_id\": 1,\n      \"code\": \"PICK-001\",\n      \"name\": \"Picking Charge\",\n      \"charge_type\": \"PICK\",\n      \"quantity\": 10,\n      \"price\": 0.50,\n      \"goods_out_id\": 123\n    }\n  }\n}\n```\n\n## Required Fields\n\n| Field | Description |\n|-------|-------------|\n| `charge_basket_id` | Charge basket to add the line to |\n| `code` | Unique code for the charge line (1-30 chars) |\n| `name` | Display name for the charge (max 50 chars) |\n| `charge_type` | One of: `PICK`, `RECEIPT`, `RENTAL`, `SUNDRY` |\n\n## Optional Fields\n\n| Field | Description |\n|-------|-------------|\n| `quantity` | Quantity to charge (defaults to 1.0) |\n| `price` | Unit price (defaults to 0.0) |\n| `description` | Additional description |\n| `charge_price_id` | Reference to a charge price template |\n\n## Charge Types & Recommended Associations\n\nWhile all association fields are technically optional, each charge type has **recommended associations** based on what you're charging for:\n\n### PICK - Picking/Outbound Charges\nCharges for picking and packing operations.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `goods_out_id` | Yes | Link to the outbound order being charged |\n| `goods_out_pick_list_id` | Optional | Link to specific pick list if applicable |\n| `product_id` | Optional | Link to product if product-specific pricing |\n\n```json\n{\n  \"charge_type\": \"PICK\",\n  \"goods_out_id\": 123,\n  \"goods_out_pick_list_id\": 456,\n  \"code\": \"PICK-001\",\n  \"name\": \"Order Picking Fee\",\n  \"quantity\": 10,\n  \"price\": 0.50\n}\n```\n\n### RECEIPT - Receiving/Inbound Charges\nCharges for receiving goods into the warehouse.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `inbound_good_id` | Yes | Link to the goods in receipt |\n| `inbound_item_id` | Optional | Link to specific receipt line |\n| `product_id` | Optional | Link to product if product-specific pricing |\n\n```json\n{\n  \"charge_type\": \"RECEIPT\",\n  \"inbound_good_id\": 789,\n  \"inbound_item_id\": 101,\n  \"code\": \"RCV-001\",\n  \"name\": \"Receiving Fee\",\n  \"quantity\": 50,\n  \"price\": 0.25\n}\n```\n\n### RENTAL - Storage Charges\nCharges for storing goods in the warehouse.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `storage_unit_id` | Yes | Link to the storage unit being charged for |\n| `product_id` | Optional | Link to product if product-specific rates |\n\n```json\n{\n  \"charge_type\": \"RENTAL\",\n  \"storage_unit_id\": 555,\n  \"code\": \"RENT-001\",\n  \"name\": \"Weekly Pallet Storage\",\n  \"quantity\": 4,\n  \"price\": 5.00\n}\n```\n\n### SUNDRY - Miscellaneous Charges\nAd-hoc charges not tied to specific operations.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| Any | Optional | Can link to any entity as needed |\n\n```json\n{\n  \"charge_type\": \"SUNDRY\",\n  \"code\": \"ADMIN-001\",\n  \"name\": \"Administrative Fee\",\n  \"quantity\": 1,\n  \"price\": 25.00\n}\n```\n\n## Important Notes\n\n- **Total calculation**: The `total` field is automatically calculated as `quantity \u00d7 price`\n- **Invoiced charges**: Once a charge line is invoiced (linked to an AR document), it cannot be modified or deleted\n- **Warehouse access**: Users can only create/update charge lines for warehouses they have access to"
        },
        "operationId": "createChargeLine",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "charge_lines"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/ChargeLineCreateAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "charge_lines",
                  "attributes": {
                    "charge_basket_id": 1,
                    "code": "PICK-001",
                    "name": "Picking Charge",
                    "charge_type": "PICK",
                    "quantity": 10,
                    "price": 0.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge line created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "charge_lines"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/ChargeLineAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Delete multiple charge lines",
        "description": "Delete multiple charge lines by providing a comma-separated list of IDs.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Pass IDs as comma-separated query parameter: `?ids=1,2,3`\n- Invoiced charge lines cannot be deleted"
        },
        "operationId": "destroyChargeLineCollection",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of charge line IDs to delete",
            "schema": {
              "type": "string"
            },
            "example": "1,2,3"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/charge_lines/{id}": {
      "put": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Update a charge line",
        "description": "Update an existing charge line's attributes.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"charge_lines\",\n    \"attributes\": {\n      \"quantity\": 15,\n      \"price\": 0.75,\n      \"description\": \"Updated picking charge\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `quantity` | No | Updated quantity |\n| `price` | No | Updated price per unit |\n| `description` | No | Updated description |"
        },
        "operationId": "updateChargeLine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the charge line to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "charge_lines"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/ChargeLineUpdateAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge line updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "charge_lines"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/ChargeLineAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Delete a charge line",
        "description": "Delete a single charge line.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Invoiced charge lines cannot be deleted"
        },
        "operationId": "destroyChargeLine",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the charge line to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListDocuments": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "List documents",
        "description": "Retrieve generated documents using GraphQL. Supports filtering by category, status, and file type.",
        "operationId": "listDocuments",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: DocumentFilterType) {\n  documents {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          file_name\n          file_type\n          category\n          status\n          created_at\n          updated_at\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"category\": {\n      \"eq\": \"report\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `file_name` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Document file name |\n| `category` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Document category |\n| `status` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Document status |\n| `file_type` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | File type (e.g. pdf, csv) |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: DocumentFilterType) { documents { all(filter: $filter) { edges { node { id file_name file_type category status created_at updated_at } } } } }",
                "variables": {
                  "filter": {
                    "category": {
                      "eq": "report"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "documents": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Documents record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "documents": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "file_name": "stock-report-2026-03.pdf",
                              "file_type": "pdf",
                              "category": "report",
                              "status": "completed",
                              "created_at": "2026-03-10T08:00:00Z",
                              "updated_at": "2026-03-10T08:01:00Z"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/documents/{id}/download": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Download a document",
        "description": "Get a presigned S3 URL for downloading a document. The returned URL is temporary and should be used promptly.",
        "x-mint": {
          "content": "## Response Format\n\nThis endpoint returns **plain JSON** (not JSON:API format):\n\n```json\n{\n  \"url\": \"https://s3.amazonaws.com/bucket/path/to/file?signature=...\"\n}\n```\n\n## Access Control\n\nYou can download a document if:\n- You are the owner of the document, OR\n- You have the `DocumentsDownload` permission\n\n## Typical Workflow\n\n1. Generate a report via `POST /reports/{id}/generate` (returns a Document)\n2. Poll the document status via GraphQL until `status` is `available`\n3. Call this endpoint to get the presigned download URL\n4. Use the presigned URL to download the file"
        },
        "operationId": "downloadDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the document to download",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Presigned download URL returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Presigned S3 URL for downloading the file"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/documents/{id}/send_to_ftp": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Send document to FTP",
        "description": "Send a document to an FTP user asynchronously. The FTP user must have a `download` direction configured.",
        "x-mint": {
          "content": "## Request Format\n\nThis endpoint accepts **plain JSON** (not JSON:API format):\n\n```json\n{\n  \"ftp_user_id\": 5\n}\n```\n\n## Behavior\n\n- The document is uploaded to the FTP server asynchronously via a background job\n- The FTP user must have `download` direction (i.e., files flow from ClarusWMS to the FTP server)\n- Returns 204 No Content on success"
        },
        "operationId": "sendDocumentToFtp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the document to send",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ftp_user_id"
                ],
                "properties": {
                  "ftp_user_id": {
                    "type": "integer",
                    "description": "ID of the FTP user to send the document to. Must have download direction."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/documents/{id}/upload": {
      "post": {
        "tags": [
          "Documents"
        ],
        "summary": "Upload file to a document",
        "description": "Upload binary file content to an existing document record. The document must be in `queued` or `processing` status. On success, the document status changes to `available`.",
        "x-mint": {
          "content": "## Upload Format\n\nThis endpoint uses **binary upload** (not JSON:API format). Send the raw file content as the request body.\n\n## Required Headers\n\n| Header | Format | Example |\n|--------|--------|---------|\n| `Content-Disposition` | `attachment; filename=\"<name>\"` | `attachment; filename=\"report.csv\"` |\n| `Content-Type` | MIME type of the file | `text/csv` |\n\n## Example (cURL)\n\n```bash\ncurl -X POST https://clarus-api.com/api/documents/42/upload \\\n  -H 'Authorization: Bearer <token>' \\\n  -H 'X-Clarus-Subdomain: acme-warehouse' \\\n  -H 'Content-Disposition: attachment; filename=\"report.csv\"' \\\n  -H 'Content-Type: text/csv' \\\n  --data-binary @report.csv\n```\n\n## Status Transitions\n\n- Document must be in `queued` or `processing` status\n- After successful upload, status becomes `available`\n- If the document is already `available` or `failed`, the upload will be rejected"
        },
        "operationId": "uploadDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the document to upload to",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Content-Disposition",
            "in": "header",
            "required": true,
            "description": "File name in the format: attachment; filename=\"report.csv\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Raw binary file content"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Document ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "documents"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/DocumentAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/graphql#ListGoodsInReceipts": {
      "post": {
        "tags": [
          "Goods In Receipts"
        ],
        "summary": "List goods in receipts",
        "description": "Retrieve inbound receipts using GraphQL. Supports filtering by reference, status, account, warehouse, and date ranges.",
        "operationId": "listGoodsInReceipts",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: InboundGoodFilterType) {\n  goods_in_receipts {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          reference\n          status\n          receipt_type\n          expected_date_of_receipt\n          actual_date_of_receipt\n          notes\n          account {\n            id\n            code\n            name\n          }\n          warehouse {\n            id\n            code\n            name\n          }\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"status\": {\n      \"eq\": \"receiving\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `reference` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Receipt reference |\n| `status` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Receipt status (e.g. draft, receiving, completed) |\n| `account_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by account ID |\n| `warehouse_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by warehouse ID |\n| `expected_date_of_receipt` | DatetimeInputType | `eq`, `from`, `to`, `between` | Expected receipt date |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: InboundGoodFilterType) { goods_in_receipts { all(filter: $filter) { edges { node { id reference status receipt_type expected_date_of_receipt actual_date_of_receipt notes account { id code name } warehouse { id code name } } } } } }",
                "variables": {
                  "filter": {
                    "status": {
                      "eq": "receiving"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "goods_in_receipts": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Goods In Receipts record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "goods_in_receipts": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "reference": "GIR-001",
                              "status": "receiving",
                              "receipt_type": "standard",
                              "expected_date_of_receipt": "2026-03-10",
                              "actual_date_of_receipt": null,
                              "notes": null,
                              "account": {
                                "id": "1",
                                "code": "ACME",
                                "name": "Acme Corporation"
                              },
                              "warehouse": {
                                "id": "1",
                                "code": "WH1",
                                "name": "Main Warehouse"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/goods_in_receipts": {
      "post": {
        "tags": [
          "Goods In Receipts"
        ],
        "summary": "Create a goods in receipt",
        "description": "Create a new goods in receipt (purchase order/ASN) to receive inventory into the warehouse. Include line items using the lines_changes array.",
        "x-mint": {
[...]
