{
  "openapi": "3.0.3",
  "info": {
    "title": "ClarusWMS API",
    "description": "REST and GraphQL API for ClarusWMS - a multi-tenanted SaaS warehouse management system. This API provides REST mutation endpoints (POST, PATCH, DELETE) for managing warehouse operations and GraphQL list endpoints for data retrieval.\n\n**REST mutations** are available at `/api/*` paths.\n\n**GraphQL queries** are available at `/graphql` — each resource has a documented list query.\n\n## Authentication\n\nAll endpoints require OAuth 2.0 Bearer token authentication. Use the client credentials or authorization code flow to obtain an access token from `https://clarus-api.com/oauth/token`.\n\n## Multi-Tenancy\n\nThis is a multi-tenant system. Each tenant (subdomain) has isolated data. **You must include the `X-Clarus-Subdomain` header with every request** to specify which tenant you are operating on.\n\n### Required Header\n\n| Header | Required | Description |\n|--------|----------|-------------|\n| `X-Clarus-Subdomain` | Yes | The subdomain/tenant name identifying which tenant's data to access |\n\n**Example:**\n```\nX-Clarus-Subdomain: acme-warehouse\n```\n\n## Request Format (JSON:API)\n\nAll REST mutation requests use JSON:API format. Data must be sent within a `data` object containing `type` and `attributes`:\n\n```json\n{\n  \"data\": {\n    \"type\": \"resource_name\",\n    \"attributes\": {\n      \"field1\": \"value1\"\n    }\n  }\n}\n```\n\n## GraphQL Queries\n\nAll data retrieval uses GraphQL at `POST /graphql`. Send a JSON body with `query` and optional `variables`:\n\n```json\n{\n  \"query\": \"query($code: String) { accounts { all(code: $code) { edges { node { id code name } } } } }\",\n  \"variables\": { \"code\": \"ACME\" }\n}\n```",
    "version": "1.0.0",
    "contact": {
      "name": "Clarus Software",
      "url": "https://claruswms.com"
    }
  },
  "servers": [
    {
      "url": "https://clarus-api.com",
      "description": "Production API"
    }
  ],
  "security": [
    {
      "BearerAuth": [],
      "ClarusSubdomain": []
    }
  ],
  "tags": [
    {
      "name": "Account Warehouses",
      "description": "Account-warehouse association endpoints for managing which accounts can operate in which warehouses"
    },
    {
      "name": "Accounts",
      "description": "Account/customer management endpoints for 3PL client management"
    },
    {
      "name": "Addresses",
      "description": "Generic address management endpoints. Town/city is held in `address_3` (passed to couriers as the city)."
    },
    {
      "name": "Alternative Code Types",
      "description": "Alternative code type reference endpoints categorising alternative codes."
    },
    {
      "name": "Alternative Codes",
      "description": "Alternative code management endpoints — additional identifiers (e.g. customer SKUs) attached to products, suppliers, carriers, or warehouses."
    },
    {
      "name": "Automations",
      "description": "Event-driven automation rules that trigger destination actions (API, FTP, email, webhook, file import, AI) when warehouse resource events fire, gated by configurable conditions."
    },
    {
      "name": "Barcode Formats",
      "description": "Barcode format reference endpoints."
    },
    {
      "name": "Bookings",
      "description": "Booking diary management endpoints for scheduling inbound and outbound dock appointments"
    },
    {
      "name": "Carriers",
      "description": "Shipping carrier management endpoints (e.g. DHL, DPD, Royal Mail) used on shipments and goods out orders."
    },
    {
      "name": "Carriers: Services",
      "description": "Carrier service-level endpoints (e.g. Next Day, Express) belonging to a carrier."
    },
    {
      "name": "Charging: Baskets",
      "description": "Charge basket endpoints for collecting and invoicing billable charges against accounts. Each account has one open basket at a time that accumulates charge lines from warehouse operations. Use these endpoints to manage basket lifecycle and generate invoices."
    },
    {
      "name": "Charging: Configuration",
      "description": "Charge configuration endpoints for managing charge cards, charge prices, and charge windows. Charge cards define billing profiles assigned to accounts. Charge prices define pricing rules within a card. Charge windows define recurring billing schedules."
    },
    {
      "name": "Charging: Lines",
      "description": "Charge line management endpoints for individual billable line items within charge baskets. Charge lines are typically created automatically by warehouse operations but can also be created and managed manually."
    },
    {
      "name": "Collection Addresses",
      "description": "Collection address management endpoints. Collection addresses belong to a supplier and are used for inbound collections."
    },
    {
      "name": "Crossdocks",
      "description": "External crossdock management endpoints for direct inbound-to-outbound transfer."
    },
    {
      "name": "Currencies",
      "description": "Currency management endpoints. Codes are ISO 4217 in lowercase."
    },
    {
      "name": "Custom Carrier Types",
      "description": "Custom carrier type management endpoints, including print layout parameters for label/document templates."
    },
    {
      "name": "Customers",
      "description": "Customer management endpoints. Customers are the end-recipients of goods (distinct from stock accounts)."
    },
    {
      "name": "Dashboard Widgets",
      "description": "Dashboard widget management endpoints for creating, updating, and deleting widgets. Each widget is bound to a report query and rendered on dashboards as a configurable chart (bar, line, pie, gauge, etc.). Widgets are placed onto dashboards via the dashboard's widget placement endpoint."
    },
    {
      "name": "Dashboards",
      "description": "Dashboard management endpoints for creating, updating, and deleting dashboards together with the widgets placed on them. Dashboards are role-scoped collections of widgets that render report query data as charts. Use the placement endpoint to atomically replace the widgets shown on a dashboard."
    },
    {
      "name": "Delivery Addresses",
      "description": "Delivery address management endpoints. Delivery addresses belong to an end customer and are used for outbound deliveries."
    },
    {
      "name": "Documents",
      "description": "Document management endpoints for downloading, uploading, and transferring generated files"
    },
    {
      "name": "External Entities",
      "description": "External entity endpoints — references to items in external systems (e.g. Shopify products, carriers, shipping rates, warehouses) that are linked to internal ClarusWMS entities via mappings."
    },
    {
      "name": "Goods In: Receipts",
      "description": "Inbound receipt management endpoints for receiving inventory into the warehouse, including the receive task actions used to confirm stock has been received against a receipt"
    },
    {
      "name": "Goods Out: Orders",
      "description": "Outbound order management endpoints for creating, updating, and cancelling sales orders"
    },
    {
      "name": "Goods Out: Pick Lists",
      "description": "Pick list management endpoints for updating and removing pick lists"
    },
    {
      "name": "Goods Out: Processing",
      "description": "Pick processing endpoints for generating pick lists and order fulfillment workflows"
    },
    {
      "name": "Groups",
      "description": "Group management endpoints for organizing products and locations"
    },
    {
      "name": "HHD Flows",
      "description": "Handheld device (HHD) flow definitions — configurable RF/HHD workflows belonging to an HHD implementation. Known internally as RF flows."
    },
    {
      "name": "HHD Users",
      "description": "RF (handheld device) user query endpoints. RF users are dedicated warehouse device operators."
    },
    {
      "name": "Import Configurations",
      "description": "Import configuration endpoints for ingesting external files (CSV, XML, EDI, TXT) and transforming them into warehouse resources via configurable processing flows."
    },
    {
      "name": "Import Templates",
      "description": "Import template management endpoints. Templates map inbound files (matched by filename regexp) onto warehouse resources for an SFTP user."
    },
    {
      "name": "Integrations",
      "description": "Third-party integration management endpoints for ecommerce, carrier, and ERP connections"
    },
    {
      "name": "Load Drops",
      "description": "Load drop management endpoints — the individual delivery/collection stops on a load, including stop re-sequencing."
    },
    {
      "name": "Loads",
      "description": "Load management endpoints for grouping shipments onto vehicles"
    },
    {
      "name": "Location Types",
      "description": "Location type management endpoints for classifying warehouse locations."
    },
    {
      "name": "Locations",
      "description": "Location management endpoints for warehouse storage locations"
    },
    {
      "name": "Mapping Groups",
      "description": "Mapping group endpoints — containers that link external entities to internal entities for a given operation type, plus their field definitions."
    },
    {
      "name": "Mappings",
      "description": "Mapping endpoints — link external entities to internal records within a mapping group. Includes the generic mappings endpoint (for non-integration operation types) and the dedicated endpoints for integration carrier, shipping rate, warehouse, product, and FTP mappings."
    },
    {
      "name": "Order Types",
      "description": "Order type reference endpoints."
    },
    {
      "name": "Packages",
      "description": "Package endpoints — parcels within a shipment, with dimensions and tracking."
    },
    {
      "name": "Printers",
      "description": "Cloud Print printer management endpoints for document and label printing."
    },
    {
      "name": "Products",
      "description": "Product management endpoints for creating, updating, and deleting products in the warehouse catalog.\n\n## GraphQL Filtering Guide\n\nProducts support individual code/barcode filters: `code`, `barcode`, `case_barcode`, `inner_barcode`, `outer_barcode`. Each supports operators: `eq`, `ilike`, `in`, `like`, `between`. When multiple individual filters are used together, they are AND'd (all conditions must match).\n\n### The `all_codes` filter\n\n`all_codes` is a **specialized cross-field search** that ORs across all 5 code fields (`code`, `barcode`, `case_barcode`, `inner_barcode`, `outer_barcode`) in a single query. It performs exact matching (IN operator), not partial/ILIKE matching.\n\n**When to use `all_codes`:** Only when you have a code or barcode value and don't know which field it belongs to — e.g., a user scans a barcode that could be a unit barcode, case barcode, inner barcode, or outer barcode.\n\n**When NOT to use `all_codes`:** When you know which specific code field to search. Use the individual filter instead for better performance and precision."
    },
    {
      "name": "Products: Accounts",
      "description": "Assignments linking products to stock accounts."
    },
    {
      "name": "Products: Materials",
      "description": "Bill-of-materials component lines for a parent product."
    },
    {
      "name": "Products: Storage Units",
      "description": "Product storage unit configuration — how a product is packed into storage unit types (per-layer, layers, totals)."
    },
    {
      "name": "Putaway Rules",
      "description": "Per-account putaway ordering rules, with re-sequencing."
    },
    {
      "name": "Reason Codes",
      "description": "Reason code endpoints for stock adjustments, holds, transfers, and stock checks."
    },
    {
      "name": "Replenishment",
      "description": "Replenishment endpoints for restocking pick faces from bulk storage"
    },
    {
      "name": "Report Queries",
      "description": "Report query management endpoints for custom reporting and data extraction"
    },
    {
      "name": "Reports",
      "description": "Report management endpoints for creating report definitions, updating configurations, and generating report output as downloadable documents"
    },
    {
      "name": "Roles",
      "description": "Role and permission management endpoints for access control"
    },
    {
      "name": "Scheduled Reports",
      "description": "Scheduled report management endpoints for recurring report delivery via email and FTP"
    },
    {
      "name": "SFTP Users",
      "description": "FTP/SFTP user management endpoints for inbound (upload) and outbound (download) file transfer."
    },
    {
      "name": "Shipments",
      "description": "Shipment management endpoints for carrier integration and parcel tracking"
    },
    {
      "name": "Sites",
      "description": "Site management endpoints. Sites group warehouses for multi-site operations."
    },
    {
      "name": "Stock Balances",
      "description": "Aggregated stock balance query endpoints summarising available, allocated, ordered, received, and picked quantities per product/account/warehouse."
    },
    {
      "name": "Stock Checks",
      "description": "Stock check endpoints for counting the products held at a location and reconciling them against the system. A stock check moves through `pending` to either `passed` or `failed`, and failed checks can subsequently be `resolved` with a reason code."
    },
    {
      "name": "Stock Unit Types",
      "description": "Stock unit type reference endpoints (the unit a product's stock is measured in)."
    },
    {
      "name": "Stocks",
      "description": "Stock management endpoints for inventory operations including holds, moves, transfers, and adjustments"
    },
    {
      "name": "Storage Unit Types",
      "description": "Storage unit type endpoints (pallets, cages, totes) with dimensions and barcode settings."
    },
    {
      "name": "Storage Units",
      "description": "Storage unit management endpoints for containers like pallets, cages, and boxes"
    },
    {
      "name": "Subdomains",
      "description": "Tenant (subdomain) management endpoints. Creating a subdomain provisions a new tenant with its own isolated data; the subdomain slug cannot be changed once created."
    },
    {
      "name": "Suppliers",
      "description": "Supplier management endpoints. Suppliers are the source of inbound goods."
    },
    {
      "name": "Tasks",
      "description": "Task management endpoints for warehouse operations including picking, putaway, receiving, dispatch, and replenishment tasks. Tasks are created automatically by warehouse operations (e.g., goods in receipts, goods out orders, replenishment) and cannot be created or deleted via the API. Use these endpoints to update task attributes, manage task allocation to users, and complete tasks."
    },
    {
      "name": "Tax Rates",
      "description": "Tax rate management endpoints with percentage component rates."
    },
    {
      "name": "Tax Types",
      "description": "Tax type management endpoints."
    },
    {
      "name": "Templates",
      "description": "Template management endpoints for creating, updating, and testing Liquid HTML print templates"
    },
    {
      "name": "Trailer Types",
      "description": "Trailer type reference endpoints."
    },
    {
      "name": "Trailers",
      "description": "Trailer management endpoints for loading and dispatch."
    },
    {
      "name": "Transactions",
      "description": "Read-only stock transaction history query endpoints. Transactions record every stock movement and cannot be created or modified via the API."
    },
    {
      "name": "Users",
      "description": "User management endpoints for system access and permissions"
    },
    {
      "name": "Warehouse Routes",
      "description": "Per-product warehouse routing priorities, with re-sequencing."
    },
    {
      "name": "Warehouses",
      "description": "Warehouse management endpoints for multi-site operations"
    }
  ],
  "paths": {
    "/graphql#ListAccountWarehouses": {
      "post": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "List account warehouses",
        "description": "Retrieve account-warehouse associations using GraphQL. Shows which accounts can operate in which warehouses.",
        "operationId": "listAccountWarehouses",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AccountWarehouseFilterType) {\n  account_warehouses {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          account_id\n          warehouse_id\n          account {\n            id\n            code\n            name\n          }\n          warehouse {\n            id\n            code\n            name\n          }\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"account_id\": {\n      \"eq\": \"1\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `account_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by account ID |\n| `warehouse_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Filter by warehouse ID |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea",
                    "example": "query($filter: AccountWarehouseFilterType) { account_warehouses { all(filter: $filter) { edges { node { id account_id warehouse_id account { id code name } warehouse { id code name } } } } } }"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "example": {
                      "filter": {
                        "account_id": {
                          "eq": "1"
                        }
                      }
                    },
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AccountWarehouseFilterType) { account_warehouses { all(filter: $filter) { edges { node { id account_id warehouse_id account { id code name } warehouse { id code name } } } } } }",
                "variables": {
                  "filter": {
                    "account_id": {
                      "eq": "1"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "account_warehouses": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Account Warehouses record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "account_warehouses": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "account_id": 1,
                              "account": {
                                "id": "1",
                                "code": "ACME",
                                "name": "Acme Corporation"
                              },
                              "warehouse_id": 1,
                              "warehouse": {
                                "id": "1",
                                "code": "WH1",
                                "name": "Main Warehouse"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/account_warehouses": {
      "post": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Create an account-warehouse association",
        "description": "Links an account to a warehouse, allowing the account to operate in that warehouse. The `account_id` + `warehouse_id` combination must be unique — duplicates return 422. A nested route alternative exists at `/accounts/{account_id}/warehouses`.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"account_warehouses\",\n    \"attributes\": {\n      \"account_id\": 1,\n      \"warehouse_id\": 1\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `account_id` | Yes | The stock account to associate |\n| `warehouse_id` | Yes | The warehouse to associate |"
        },
        "operationId": "createAccountWarehouse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account_warehouses"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountWarehouseAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "account_warehouses",
                  "attributes": {
                    "account_id": 1,
                    "warehouse_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account-warehouse association created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWarehouseResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "account_warehouses",
                    "relationships": {
                      "account": {
                        "data": {
                          "id": "1",
                          "type": "accounts"
                        }
                      },
                      "warehouse": {
                        "data": {
                          "id": "1",
                          "type": "warehouses"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/account_warehouses/{id}": {
      "patch": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Update an account-warehouse association",
        "description": "Update which account or warehouse is linked. Both `account_id` and `warehouse_id` are required. The combination must be unique — duplicates return 422. A nested route alternative exists at `/accounts/{account_id}/warehouses/{id}`.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"account_warehouses\",\n    \"attributes\": {\n      \"account_id\": 2,\n      \"warehouse_id\": 3\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `account_id` | Yes | The stock account to associate |\n| `warehouse_id` | Yes | The warehouse to associate |"
        },
        "operationId": "updateAccountWarehouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account-warehouse association to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account_warehouses"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountWarehouseAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "account_warehouses",
                  "attributes": {
                    "account_id": 2,
                    "warehouse_id": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account-warehouse association updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountWarehouseResponse"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "account_warehouses",
                    "relationships": {
                      "account": {
                        "data": {
                          "id": "2",
                          "type": "accounts"
                        }
                      },
                      "warehouse": {
                        "data": {
                          "id": "3",
                          "type": "warehouses"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Account Warehouses"
        ],
        "summary": "Delete an account-warehouse association",
        "description": "Remove the association between an account and warehouse. A nested route alternative exists at `/accounts/{account_id}/warehouses/{id}`.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Removes the account's access to the specified warehouse"
        },
        "operationId": "deleteAccountWarehouse",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account-warehouse association to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListAccounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "Retrieve accounts using GraphQL. Supports filtering, sorting, and pagination via relay-style connections.",
        "operationId": "listAccounts",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AccountFilterType) {\n  accounts {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          code\n          name\n          is_short_pickable\n          external_system_reference1\n          vat_number\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators:\n\n```json\n{\n  \"filter\": {\n    \"code\": {\n      \"ilike\": \"ACME\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `code` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Account code |\n| `name` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Account name |\n| `warehouse_id` | IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` | Accounts associated with a warehouse |\n| `is_short_pickable` | BooleanInputType | `eq` | Filter by short pickable setting |\n\n### Filter Operators\n\n| Input Type | Operators |\n|-----------|----------|\n| StringInputType | `eq` (exact), `ilike` (case-insensitive partial), `like` (case-sensitive partial), `in` (array match), `between` (range) |\n| IntegerInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `between` |\n| DatetimeInputType | `eq`, `from`, `to`, `between` |\n| BooleanInputType | `eq` (required) |\n| IdInputType | `eq`, `gt`, `gteq`, `lt`, `lteq`, `in`, `filled` |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea",
                    "example": "query($filter: AccountFilterType) { accounts { all(filter: $filter) { edges { node { id code name is_short_pickable external_system_reference1 vat_number } } } } }"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "example": {
                      "filter": {
                        "code": {
                          "ilike": "ACME"
                        }
                      }
                    },
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AccountFilterType) { accounts { all(filter: $filter) { edges { node { id code name is_short_pickable external_system_reference1 vat_number } } } } }",
                "variables": {
                  "filter": {
                    "code": {
                      "ilike": "ACME"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "accounts": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Accounts record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "accounts": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "code": "ACME",
                              "name": "Acme Corporation",
                              "is_short_pickable": false,
                              "external_system_reference1": "ACME-EXT",
                              "vat_number": "GB123456789"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create an account",
        "description": "Create a new account (customer/client) for 3PL operations. Accounts are used to segregate inventory ownership.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"code\": \"ACME\",\n      \"name\": \"Acme Corporation\",\n      \"email\": \"warehouse@acme.com\",\n      \"is_active\": true\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Unique account code |\n| `name` | Yes | Account display name |\n| `email` | No | Primary contact email |\n| `is_active` | No | Whether account is active (default: true) |"
        },
        "operationId": "createAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/accounts/{id}": {
      "patch": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"name\": \"Acme Corp Updated\",\n      \"email\": \"new-contact@acme.com\",\n      \"is_active\": false\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `name` | No | Updated account name |\n| `email` | No | Updated contact email |\n| `is_active` | No | Activate or deactivate account |"
        },
        "description": "Update an existing account's attributes such as name, code, or operational settings.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Account attributes to update",
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true,
                            "description": "Account code"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 100,
                            "nullable": true,
                            "description": "Account name"
                          },
                          "is_active": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Active status"
                          },
                          "dispatch_strategy": {
                            "type": "string",
                            "enum": [
                              "manual",
                              "auto",
                              "load",
                              "shipment",
                              "auto_shipment"
                            ],
                            "nullable": true,
                            "description": "Dispatch strategy"
                          },
                          "pack_strategy": {
                            "type": "string",
                            "enum": [
                              "disabled",
                              "pack_by_line",
                              "pack_by_unit"
                            ],
                            "nullable": true,
                            "description": "Packing strategy"
                          },
                          "string1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 1"
                          },
                          "string2": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 2"
                          },
                          "string3": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 3"
                          },
                          "string4": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 4"
                          },
                          "string5": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 5"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete an account",
        "description": "Delete an account. Accounts with existing stock or orders cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete accounts with existing stock or orders\n- Consider deactivating with `is_active: false` instead"
        },
        "operationId": "destroyAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/addresses/{id}": {
      "patch": {
        "tags": [
          "Addresses"
        ],
        "summary": "Update an address",
        "description": "Update a generic address. Town/city is held in `address_3` (passed to couriers as the city). Generic addresses cannot change their account or parent (`addressable`) associations.",
        "operationId": "updateAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the address to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "addresses"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Generic address attributes to update. The town/city goes in `address_3`.",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Contact / addressee name"
                          },
                          "code": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Address code"
                          },
                          "address_1": {
                            "type": "string",
                            "maxLength": 80,
                            "nullable": true,
                            "description": "Street number and name"
                          },
                          "address_2": {
                            "type": "string",
                            "maxLength": 80,
                            "nullable": true,
                            "description": "Second address line"
                          },
                          "address_3": {
                            "type": "string",
                            "maxLength": 80,
                            "nullable": true,
                            "description": "Town/city (passed to couriers as city)"
                          },
                          "address_4": {
                            "type": "string",
                            "maxLength": 80,
                            "nullable": true,
                            "description": "County/region"
                          },
                          "address_5": {
                            "type": "string",
                            "maxLength": 80,
                            "nullable": true,
                            "description": "Additional address information"
                          },
                          "postcode": {
                            "type": "string",
                            "maxLength": 10,
                            "nullable": true,
                            "description": "Postal / ZIP code"
                          },
                          "country_code": {
                            "type": "string",
                            "maxLength": 6,
                            "nullable": true,
                            "description": "ISO 3166-1 alpha-2 country code, optionally with a province suffix (e.g. 'GB' or 'CA-ON')"
                          },
                          "email_address": {
                            "type": "string",
                            "maxLength": 254,
                            "nullable": true,
                            "description": "Contact email address"
                          },
                          "phone_number": {
                            "type": "string",
                            "maxLength": 50,
                            "nullable": true,
                            "description": "Contact phone number"
                          },
                          "default_notes": {
                            "type": "string",
                            "nullable": true,
                            "description": "Default delivery/collection notes"
                          },
                          "is_active": {
                            "type": "boolean",
                            "description": "Whether the address is active"
                          },
                          "external_delivery_id": {
                            "type": "string",
                            "nullable": true,
                            "description": "External delivery identifier"
                          },
                          "external_system_reference1": {
                            "type": "string",
                            "nullable": true,
                            "description": "External system reference 1"
                          },
                          "external_system_reference2": {
                            "type": "string",
                            "nullable": true,
                            "description": "External system reference 2"
                          },
                          "external_system_reference3": {
                            "type": "string",
                            "nullable": true,
                            "description": "External system reference 3"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "addresses",
                  "attributes": {
                    "name": "John Smith",
                    "address_1": "123 Main Street",
                    "address_3": "Manchester",
                    "postcode": "M1 2AB",
                    "country_code": "GB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Record ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "addresses"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "type": "object",
                          "description": "Updated resource attributes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "501",
                    "type": "addresses",
                    "attributes": {
                      "name": "John Smith",
                      "address_1": "123 Main Street",
                      "address_3": "Manchester",
                      "postcode": "M1 2AB",
                      "country_code": "GB"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "summary": "Delete an address",
        "description": "Delete a generic address by ID.",
        "operationId": "destroyAddress",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the address to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListAlternativeCodeTypes": {
      "post": {
        "tags": [
          "Alternative Code Types"
        ],
        "summary": "List alternative code types",
        "description": "Retrieve alternative code types using GraphQL. Supports filtering, sorting, and pagination via relay-style connections.",
        "operationId": "listAlternativeCodeTypes",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AlternativeCodeTypeFilterType) {\n  alternative_code_types {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          code\n          name\n          description\n          system_type\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each filter field accepts an input object with operators (e.g. `eq`, `ilike`, `from`, `to`, `between`):\n\n```json\n{\n  \"filter\": {\n    \"code\": {\n      \"ilike\": \"value\"\n    }\n  }\n}\n```\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `code` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Type code |\n| `name` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Type name |\n| `description` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Description |\n| `system_type` | BooleanInputType | `eq` | Whether it is a read-only system type |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea",
                    "example": "query($filter: AlternativeCodeTypeFilterType) { alternative_code_types { all(filter: $filter) { edges { node { id code name description system_type } } } } }"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "example": {
                      "filter": {
                        "code": {
                          "ilike": "EAN"
                        }
                      }
                    },
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AlternativeCodeTypeFilterType) { alternative_code_types { all(filter: $filter) { edges { node { id code name description system_type } } } } }",
                "variables": {
                  "filter": {
                    "code": {
                      "ilike": "EAN"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "alternative_code_types": {
                          "type": "object"
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "alternative_code_types": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "5",
                              "code": "EAN13",
                              "name": "EAN-13 Barcode",
                              "description": "European Article Number",
                              "system_type": false
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/alternative_code_types": {
      "post": {
        "tags": [
          "Alternative Code Types"
        ],
        "summary": "Create an alternative code type",
        "description": "Create a alternative code type.",
        "x-mint": {
          "content": "## Request Structure\n\n```json\n{\n  \"data\": {\n    \"type\": \"alternative_code_types\",\n    \"attributes\": {\n      \"code\": \"EAN13\",\n      \"name\": \"EAN-13 Barcode\"\n    }\n  }\n}\n```\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Unique code (max 50) |\n| `name` | Yes | Name (max 50) |\n| `description` | No | Description (max 500) |\n\nSystem types (`system_type: true`, e.g. Customer/Supplier) are read-only and cannot be updated or deleted."
        },
        "operationId": "createAlternativeCodeType",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "alternative_code_types"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Alternative code type attributes",
                        "required": [
                          "code",
                          "name"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Unique type code"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Type name"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 500,
                            "nullable": true,
                            "description": "Description"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "alternative_code_types",
                  "attributes": {
                    "code": "EAN13",
                    "name": "EAN-13 Barcode",
                    "description": "European Article Number used for retail barcodes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "alternative_code_types",
                    "attributes": {
                      "code": "EAN13",
                      "name": "EAN-13 Barcode",
                      "description": "European Article Number used for retail barcodes",
                      "system_type": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/alternative_code_types/{id}": {
      "patch": {
        "tags": [
          "Alternative Code Types"
        ],
        "summary": "Update an alternative code type",
        "description": "Update an existing alternative code type.",
        "operationId": "updateAlternativeCodeType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alternative code type",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "alternative_code_types"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Alternative code type attributes to update",
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Unique type code"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Type name"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 500,
                            "nullable": true,
                            "description": "Description"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "alternative_code_types",
                  "attributes": {
                    "code": "EAN13",
                    "name": "EAN-13 Barcode",
                    "description": "European Article Number used for retail barcodes"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "data": {
                    "id": "1",
                    "type": "alternative_code_types",
                    "attributes": {
                      "code": "EAN13",
                      "name": "EAN-13 Barcode",
                      "description": "European Article Number used for retail barcodes",
                      "system_type": false
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Alternative Code Types"
        ],
        "summary": "Delete an alternative code type",
        "description": "Delete a alternative code type by ID.",
        "operationId": "destroyAlternativeCodeType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alternative code type",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/alternative_codes": {
      "post": {
        "tags": [
          "Alternative Codes"
        ],
        "summary": "Create an alternative code",
        "description": "Create an alternative code — an additional identifier (e.g. customer SKU) attached to a product, supplier, carrier, or warehouse.",
        "x-mint": {
          "content": "## Request Structure\n\n```json\n{\n  \"data\": {\n    \"type\": \"alternative_codes\",\n    \"attributes\": {\n      \"code\": \"ALT-12345\",\n      \"name\": \"Customer SKU\",\n      \"alternative_code_type_id\": 3,\n      \"alternative_codeable_type\": \"Product\",\n      \"alternative_codeable_id\": 42\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Alternative code value (max 50, unique per parent + owner) |\n| `name` | Yes | Display name (max 50) |\n| `alternative_code_type_id` | Yes | Category (AlternativeCodeType) |\n| `alternative_codeable_type` / `_id` | No | Parent record — one of `Product`, `Supplier`, `Carrier`, `Warehouse` |\n| `owner_type` / `owner_id` | No | Owning record; must be a different class than the parent |"
        },
        "operationId": "createAlternativeCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "alternative_codes"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Alternative code attributes",
                        "required": [
                          "code",
                          "name",
                          "alternative_code_type_id"
                        ],
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Alternative code value (unique per parent record + owner)"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Display name for the alternative code"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 500,
                            "nullable": true,
                            "description": "Description"
                          },
                          "alternative_code_type_id": {
                            "type": "integer",
                            "description": "ID of the AlternativeCodeType categorising this code"
                          },
                          "alternative_codeable_type": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "Product",
                              "Supplier",
                              "Carrier",
                              "Warehouse"
                            ],
                            "description": "Type of the parent record this code is attached to"
                          },
                          "alternative_codeable_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the parent record (matching `alternative_codeable_type`)"
                          },
                          "owner_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of the owning record (must differ from `alternative_codeable_type`), e.g. 'Account'"
                          },
                          "owner_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the owning record (matching `owner_type`)"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "alternative_codes",
                  "attributes": {
                    "code": "ALT-12345",
                    "name": "Customer SKU",
                    "description": "Customer-facing alternate product code",
                    "alternative_code_type_id": 3,
                    "alternative_codeable_type": "Product",
                    "alternative_codeable_id": 42
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Record ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "alternative_codes"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "type": "object",
                          "description": "Resource attributes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "88",
                    "type": "alternative_codes",
                    "attributes": {
                      "code": "ALT-12345",
                      "name": "Customer SKU",
                      "description": "Customer-facing alternate product code",
                      "alternative_code_type_id": 3,
                      "alternative_codeable_type": "Product",
                      "alternative_codeable_id": 42,
                      "owner_type": null,
                      "owner_id": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/alternative_codes/{id}": {
      "patch": {
        "tags": [
          "Alternative Codes"
        ],
        "summary": "Update an alternative code",
        "description": "Update an existing alternative code's value, name, or associations.",
        "operationId": "updateAlternativeCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alternative code to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "alternative_codes"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Alternative code attributes to update",
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Alternative code value (unique per parent record + owner)"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 50,
                            "description": "Display name for the alternative code"
                          },
                          "description": {
                            "type": "string",
                            "maxLength": 500,
                            "nullable": true,
                            "description": "Description"
                          },
                          "alternative_code_type_id": {
                            "type": "integer",
                            "description": "ID of the AlternativeCodeType categorising this code"
                          },
                          "alternative_codeable_type": {
                            "type": "string",
                            "nullable": true,
                            "enum": [
                              "Product",
                              "Supplier",
                              "Carrier",
                              "Warehouse"
                            ],
                            "description": "Type of the parent record this code is attached to"
                          },
                          "alternative_codeable_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the parent record (matching `alternative_codeable_type`)"
                          },
                          "owner_type": {
                            "type": "string",
                            "nullable": true,
                            "description": "Type of the owning record (must differ from `alternative_codeable_type`), e.g. 'Account'"
                          },
                          "owner_id": {
                            "type": "integer",
                            "nullable": true,
                            "description": "ID of the owning record (matching `owner_type`)"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "alternative_codes",
                  "attributes": {
                    "name": "Customer SKU (legacy)",
                    "description": "Deprecated customer code"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Record ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "alternative_codes"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "type": "object",
                          "description": "Resource attributes"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "id": "88",
                    "type": "alternative_codes",
                    "attributes": {
                      "code": "ALT-12345",
                      "name": "Customer SKU (legacy)",
                      "description": "Deprecated customer code",
                      "alternative_code_type_id": 3,
                      "alternative_codeable_type": "Product",
                      "alternative_codeable_id": 42
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Alternative Codes"
        ],
        "summary": "Delete an alternative code",
        "description": "Delete an alternative code by ID.",
        "operationId": "destroyAlternativeCode",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the alternative code to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/graphql#ListAutomations": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "List automations",
        "description": "Retrieve automations using GraphQL. Supports filtering by resource, event, status, and integration.",
        "operationId": "listAutomations",
        "x-mint": {
          "content": "## Query Structure\n\n```graphql\nquery($filter: AutomationFilterType) {\n  automations {\n    all(filter: $filter) {\n      edges {\n        node {\n          id\n          name\n          resource_name\n          event\n          enabled\n          integration_id\n          created_at\n        }\n      }\n    }\n  }\n}\n```\n\n## Filter Argument\n\nAll filters are passed inside the `filter` argument. Each field accepts an input object with operators.\n\n### Available Filters\n\n| Filter | Input Type | Operators | Description |\n|--------|-----------|-----------|-------------|\n| `name` | StringInputType | `eq`, `ilike`, `like`, `in`, `between` | Automation name |\n| `resource_name` | ResourceNameInputType | `eq` | Triggering resource (e.g. goods_out) |\n| `event` | EventInputType | `eq` | Triggering event (e.g. completed) |\n| `enabled` | BooleanInputType | `eq` | Active status |\n| `integration_id` | IdInputType | `eq`, `in`, `filled` | Linked integration |\n| `created_at` | DatetimeInputType | `eq`, `from`, `to`, `between` | Creation time |\n\n*More fields and filters available via GraphQL introspection.*"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "GraphQL query string",
                    "format": "textarea",
                    "example": "query($filter: AutomationFilterType) { automations { all(filter: $filter) { edges { node { id name resource_name event enabled integration_id created_at } } } } }"
                  },
                  "variables": {
                    "type": "object",
                    "description": "Query variables including the filter object",
                    "example": {
                      "filter": {
                        "resource_name": {
                          "eq": "goods_out"
                        }
                      }
                    },
                    "properties": {
                      "filter": {
                        "type": "object",
                        "description": "Filter criteria for narrowing results. Each field accepts an input object with operators (eq, ilike, from, to, etc.)"
                      }
                    }
                  }
                }
              },
              "example": {
                "query": "query($filter: AutomationFilterType) { automations { all(filter: $filter) { edges { node { id name resource_name event enabled integration_id created_at } } } } }",
                "variables": {
                  "filter": {
                    "resource_name": {
                      "eq": "goods_out"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful GraphQL response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "description": "Query result data",
                      "properties": {
                        "automations": {
                          "type": "object",
                          "properties": {
                            "all": {
                              "type": "object",
                              "properties": {
                                "edges": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "node": {
                                        "type": "object",
                                        "description": "A Automations record"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "GraphQL errors, if any"
                    }
                  }
                },
                "example": {
                  "data": {
                    "automations": {
                      "all": {
                        "edges": [
                          {
                            "node": {
                              "id": "1",
                              "name": "Email on dispatch",
                              "resource_name": "goods_out",
                              "event": "completed",
                              "enabled": true,
                              "integration_id": null,
                              "created_at": "2026-01-10T12:00:00Z"
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/automations": {
      "post": {
        "tags": [
          "Automations"
        ],
        "summary": "Create an automation",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"automations\",\n    \"attributes\": {\n      \"resource_name\": \"goods_out\",\n      \"event\": \"completed\",\n      \"name\": \"Email on dispatch\",\n      \"enabled\": true,\n      \"conditions_changes\": [\n        { \"type\": \"ADD\", \"attributes\": { \"condition_code\": \"account_id\", \"source_path\": \"data.account_id\", \"operator\": \"eq\", \"value\": \"42\" } }\n      ],\n      \"actions_changes\": [\n        { \"type\": \"ADD\", \"attributes\": { \"destination_type\": \"email\", \"destination_code\": \"default\", \"parameters_changes\": [\n          { \"type\": \"ADD\", \"attributes\": { \"parameter_code\": \"email_recipient\", \"value\": \"warehouse@acme.com\" } }\n        ] } }\n      ]\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `resource_name` | Yes | Triggering resource |\n| `event` | Yes | Triggering event (depends on resource_name) |\n| `enabled` | Yes | Whether the automation is active |\n| `conditions_changes` | Yes | Conditions to add — **only `type: ADD` is valid on create** |\n| `actions_changes` | Yes | Actions (and parameters) to add — **only `type: ADD` is valid on create** |\n\n## Conditions, Actions & Parameters\n\nConditions, actions, and action parameters are managed **inline** through this payload using change objects. On create only `ADD` is allowed; the update endpoint also accepts `UPDATE` and `DESTROY` (which require the existing record `id`).\n\n## Resource Events\n\n| resource_name | events |\n|---------------|--------|\n| `goods_out` | created, completed, updated, processed, cancelled |\n| `goods_in` | completed, created, cancelled, moved_to_part |\n| `goods_out_pick_list` | completed, created, cancelled, picked |\n| `invoice` | submitted, authorised, paid |\n| `load_drop` | dispatched |\n| `stock_balance` | updated |\n| `stock` | positively_adjusted, negatively_adjusted, placed_on_hold, released_from_hold, received, unreceived, dispatched, undispatched, account_transferred, picked |\n| `putaway_task` | completed |\n| `failure_event_log` | created |\n| `ftp_file` | uploaded |\n| `ftp_import` | failed |\n| `daily_schedule` / `weekly_schedule` / `monthly_schedule` / `one_time_schedule` | triggered |"
        },
        "description": "Create a new automation rule with its conditions and actions.",
        "operationId": "createAutomation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "automations"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AutomationAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Automation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Automation ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "automations"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AutomationResponseAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/api/automations/{id}": {
      "patch": {
        "tags": [
          "Automations"
        ],
        "summary": "Update an automation",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"automations\",\n    \"attributes\": {\n      \"enabled\": false,\n      \"conditions_changes\": [\n        { \"type\": \"UPDATE\", \"id\": 10, \"attributes\": { \"value\": \"99\" } },\n        { \"type\": \"DESTROY\", \"id\": 11 }\n      ]\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `enabled` | No | Enable/disable the automation |\n| `conditions_changes` | No | `ADD`/`UPDATE`/`DESTROY` — `UPDATE`/`DESTROY` require `id` |\n| `actions_changes` | No | `ADD`/`UPDATE`/`DESTROY` — `UPDATE`/`DESTROY` require `id` |"
        },
        "description": "Update an existing automation, including adding, updating, or destroying its conditions and actions.",
        "operationId": "updateAutomation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the automation to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "automations"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Automation attributes to update. All fields optional; change arrays accept ADD/UPDATE/DESTROY.",
                        "properties": {
                          "resource_name": {
                            "type": "string",
                            "enum": [
                              "goods_out",
                              "goods_in",
                              "goods_out_pick_list",
                              "invoice",
                              "load_drop",
                              "stock_balance",
                              "stock",
                              "putaway_task",
                              "failure_event_log",
                              "ftp_file",
                              "ftp_import",
                              "daily_schedule",
[...]
