{
  "openapi": "3.0.3",
  "info": {
    "title": "ClarusWMS API",
    "description": "REST API for ClarusWMS - a multi-tenanted SaaS warehouse management system. This API provides mutation endpoints for managing warehouse operations including inventory, goods in/out, users, and integrations.\n\n**Note**: GET/list endpoints are not included as GraphQL is used for all data retrieval operations.\n\n## Authentication\n\nAll endpoints require OAuth 2.0 Bearer token authentication. Obtain tokens from the auth server at `https://auth.clarus-api.com`.\n\n## Multi-Tenancy\n\nThis is a multi-tenant system. Each tenant (subdomain) has isolated data. **You must include the `X-Clarus-Subdomain` header with every request** to specify which tenant you are operating on.\n\n### Required Header\n\n| Header | Required | Description |\n|--------|----------|-------------|\n| `X-Clarus-Subdomain` | Yes | The subdomain/tenant name identifying which tenant's data to access |\n\n**Example:**\n```\nX-Clarus-Subdomain: acme-warehouse\n```\n\n## Request Format (JSON:API)\n\nAll mutation requests use JSON:API format. Data must be sent within a `data` object containing `type` and `attributes`:\n\n```json\n{\n  \"data\": {\n    \"type\": \"resource_name\",\n    \"attributes\": {\n      \"field1\": \"value1\"\n    }\n  }\n}\n```",
    "version": "1.0.0",
    "contact": {
      "name": "Clarus Software",
      "url": "https://claruswms.com"
    }
  },
  "servers": [
    {
      "url": "https://clarus-api.com/api/v1",
      "description": "Production API"
    },
    {
      "url": "https://clarus-api-staging.com/api",
      "description": "Staging API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Account/customer management endpoints for 3PL client management"
    },
    {
      "name": "Charge Lines",
      "description": "Charge line management endpoints for billing and invoicing operations"
    },
    {
      "name": "Goods In Receipts",
      "description": "Inbound receipt management endpoints for receiving inventory into the warehouse"
    },
    {
      "name": "Goods Out: Orders",
      "description": "Outbound order management endpoints for creating, updating, and cancelling sales orders"
    },
    {
      "name": "Goods Out: Pick Lists",
      "description": "Pick list management endpoints for updating and removing pick lists"
    },
    {
      "name": "Goods Out: Processing",
      "description": "Pick processing endpoints for generating pick lists and order fulfillment workflows"
    },
    {
      "name": "Groups",
      "description": "Group management endpoints for organizing products and locations"
    },
    {
      "name": "Integrations",
      "description": "Third-party integration management endpoints for ecommerce, carrier, and ERP connections"
    },
    {
      "name": "Loads",
      "description": "Load management endpoints for grouping shipments onto vehicles"
    },
    {
      "name": "Locations",
      "description": "Location management endpoints for warehouse storage locations"
    },
    {
      "name": "Products",
      "description": "Product management endpoints for creating, updating, and deleting products in the warehouse catalog"
    },
    {
      "name": "Replenishment",
      "description": "Replenishment endpoints for restocking pick faces from bulk storage"
    },
    {
      "name": "Report Queries",
      "description": "Report query management endpoints for custom reporting and data extraction"
    },
    {
      "name": "Roles",
      "description": "Role and permission management endpoints for access control"
    },
    {
      "name": "Shipments",
      "description": "Shipment management endpoints for carrier integration and parcel tracking"
    },
    {
      "name": "Stocks",
      "description": "Stock management endpoints for inventory operations including holds, moves, transfers, and adjustments"
    },
    {
      "name": "Storage Units",
      "description": "Storage unit management endpoints for containers like pallets, cages, and boxes"
    },
    {
      "name": "Users",
      "description": "User management endpoints for system access and permissions"
    },
    {
      "name": "Warehouses",
      "description": "Warehouse management endpoints for multi-site operations"
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create an account",
        "description": "Create a new account (customer/client) for 3PL operations. Accounts are used to segregate inventory ownership.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"code\": \"ACME\",\n      \"name\": \"Acme Corporation\",\n      \"email\": \"warehouse@acme.com\",\n      \"is_active\": true\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Unique account code |\n| `name` | Yes | Account display name |\n| `email` | No | Primary contact email |\n| `is_active` | No | Whether account is active (default: true) |"
        },
        "operationId": "createAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/AccountAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/accounts/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Update an account",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"accounts\",\n    \"attributes\": {\n      \"name\": \"Acme Corp Updated\",\n      \"email\": \"new-contact@acme.com\",\n      \"is_active\": false\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `name` | No | Updated account name |\n| `email` | No | Updated contact email |\n| `is_active` | No | Activate or deactivate account |"
        },
        "description": "Update an existing account's attributes such as name, code, or operational settings.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "accounts"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Account attributes to update",
                        "properties": {
                          "code": {
                            "type": "string",
                            "maxLength": 20,
                            "nullable": true,
                            "description": "Account code"
                          },
                          "name": {
                            "type": "string",
                            "maxLength": 100,
                            "nullable": true,
                            "description": "Account name"
                          },
                          "is_active": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Active status"
                          },
                          "dispatch_strategy": {
                            "type": "string",
                            "enum": [
                              "manual",
                              "auto",
                              "load",
                              "shipment",
                              "auto_shipment"
                            ],
                            "nullable": true,
                            "description": "Dispatch strategy"
                          },
                          "pack_strategy": {
                            "type": "string",
                            "enum": [
                              "disabled",
                              "pack_by_line",
                              "pack_by_unit"
                            ],
                            "nullable": true,
                            "description": "Packing strategy"
                          },
                          "string1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 1"
                          },
                          "string2": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 2"
                          },
                          "string3": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 3"
                          },
                          "string4": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 4"
                          },
                          "string5": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 5"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Account ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "accounts"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/AccountAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Delete an account",
        "description": "Delete an account. Accounts with existing stock or orders cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete accounts with existing stock or orders\n- Consider deactivating with `is_active: false` instead"
        },
        "operationId": "destroyAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/charge_lines": {
      "post": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Create a charge line",
        "description": "Create a new charge line to record a billable item. Charge lines are used for invoicing and billing operations.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"charge_lines\",\n    \"attributes\": {\n      \"charge_basket_id\": 1,\n      \"code\": \"PICK-001\",\n      \"name\": \"Picking Charge\",\n      \"charge_type\": \"PICK\",\n      \"quantity\": 10,\n      \"price\": 0.50,\n      \"goods_out_id\": 123\n    }\n  }\n}\n```\n\n## Required Fields\n\n| Field | Description |\n|-------|-------------|\n| `charge_basket_id` | Charge basket to add the line to |\n| `code` | Unique code for the charge line (1-30 chars) |\n| `name` | Display name for the charge (max 50 chars) |\n| `charge_type` | One of: `PICK`, `RECEIPT`, `RENTAL`, `SUNDRY` |\n\n## Optional Fields\n\n| Field | Description |\n|-------|-------------|\n| `quantity` | Quantity to charge (defaults to 1.0) |\n| `price` | Unit price (defaults to 0.0) |\n| `description` | Additional description |\n| `charge_price_id` | Reference to a charge price template |\n\n## Charge Types & Recommended Associations\n\nWhile all association fields are technically optional, each charge type has **recommended associations** based on what you're charging for:\n\n### PICK - Picking/Outbound Charges\nCharges for picking and packing operations.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `goods_out_id` | Yes | Link to the outbound order being charged |\n| `goods_out_pick_list_id` | Optional | Link to specific pick list if applicable |\n| `product_id` | Optional | Link to product if product-specific pricing |\n\n```json\n{\n  \"charge_type\": \"PICK\",\n  \"goods_out_id\": 123,\n  \"goods_out_pick_list_id\": 456,\n  \"code\": \"PICK-001\",\n  \"name\": \"Order Picking Fee\",\n  \"quantity\": 10,\n  \"price\": 0.50\n}\n```\n\n### RECEIPT - Receiving/Inbound Charges\nCharges for receiving goods into the warehouse.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `inbound_good_id` | Yes | Link to the goods in receipt |\n| `inbound_item_id` | Optional | Link to specific receipt line |\n| `product_id` | Optional | Link to product if product-specific pricing |\n\n```json\n{\n  \"charge_type\": \"RECEIPT\",\n  \"inbound_good_id\": 789,\n  \"inbound_item_id\": 101,\n  \"code\": \"RCV-001\",\n  \"name\": \"Receiving Fee\",\n  \"quantity\": 50,\n  \"price\": 0.25\n}\n```\n\n### RENTAL - Storage Charges\nCharges for storing goods in the warehouse.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| `storage_unit_id` | Yes | Link to the storage unit being charged for |\n| `product_id` | Optional | Link to product if product-specific rates |\n\n```json\n{\n  \"charge_type\": \"RENTAL\",\n  \"storage_unit_id\": 555,\n  \"code\": \"RENT-001\",\n  \"name\": \"Weekly Pallet Storage\",\n  \"quantity\": 4,\n  \"price\": 5.00\n}\n```\n\n### SUNDRY - Miscellaneous Charges\nAd-hoc charges not tied to specific operations.\n\n| Field | Recommended | Purpose |\n|-------|-------------|--------|\n| Any | Optional | Can link to any entity as needed |\n\n```json\n{\n  \"charge_type\": \"SUNDRY\",\n  \"code\": \"ADMIN-001\",\n  \"name\": \"Administrative Fee\",\n  \"quantity\": 1,\n  \"price\": 25.00\n}\n```\n\n## Important Notes\n\n- **Total calculation**: The `total` field is automatically calculated as `quantity × price`\n- **Invoiced charges**: Once a charge line is invoiced (linked to an AR document), it cannot be modified or deleted\n- **Warehouse access**: Users can only create/update charge lines for warehouses they have access to"
        },
        "operationId": "createChargeLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "charge_lines"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/ChargeLineCreateAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "charge_lines",
                  "attributes": {
                    "charge_basket_id": 1,
                    "code": "PICK-001",
                    "name": "Picking Charge",
                    "charge_type": "PICK",
                    "quantity": 10,
                    "price": 0.5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge line created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "charge_lines"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/ChargeLineAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Delete multiple charge lines",
        "description": "Delete multiple charge lines by providing a comma-separated list of IDs.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Pass IDs as comma-separated query parameter: `?ids=1,2,3`\n- Invoiced charge lines cannot be deleted"
        },
        "operationId": "destroyChargeLineCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of charge line IDs to delete",
            "schema": {
              "type": "string"
            },
            "example": "1,2,3"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/charge_lines/{id}": {
      "put": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Update a charge line",
        "description": "Update an existing charge line's attributes.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"charge_lines\",\n    \"attributes\": {\n      \"quantity\": 15,\n      \"price\": 0.75,\n      \"description\": \"Updated picking charge\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `quantity` | No | Updated quantity |\n| `price` | No | Updated price per unit |\n| `description` | No | Updated description |"
        },
        "operationId": "updateChargeLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the charge line to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "charge_lines"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/ChargeLineUpdateAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Charge line updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "charge_lines"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/ChargeLineAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Charge Lines"
        ],
        "summary": "Delete a charge line",
        "description": "Delete a single charge line.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Invoiced charge lines cannot be deleted"
        },
        "operationId": "destroyChargeLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the charge line to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/goods_in_receipts": {
      "post": {
        "tags": [
          "Goods In Receipts"
        ],
        "summary": "Create a goods in receipt",
        "description": "Create a new goods in receipt (purchase order/ASN) to receive inventory into the warehouse. Include line items using the lines_changes array.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"goods_in_receipts\",\n    \"attributes\": {\n      \"account_id\": 1,\n      \"warehouse_id\": 1,\n      \"reference\": \"PO-2024-001\",\n      \"expected_date_of_arrival\": \"2024-01-15T10:00:00Z\",\n      \"supplier_id\": 5,\n      \"lines_changes\": [\n        {\n          \"type\": \"ADD\",\n          \"attributes\": {\n            \"product_id\": 123,\n            \"expected_quantity\": 100,\n            \"batch_number\": \"BATCH-001\",\n            \"expiry_date\": \"2025-01-15\"\n          }\n        }\n      ]\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `account_id` | Yes | Stock account ID (owner of incoming stock) |\n| `warehouse_id` | Yes | Destination warehouse ID |\n| `reference` | No | Your PO/ASN reference number |\n| `expected_date_of_arrival` | No | Expected delivery date (ISO 8601) |\n| `supplier_id` | No | Supplier/vendor ID |\n| `lines_changes` | No | Array of line operations (ADD/UPDATE/REMOVE) |\n\n## Line Item Operations\n\n| Operation | Description |\n|-----------|-------------|\n| `ADD` | Add a new line with `attributes` |\n| `UPDATE` | Update existing line (requires `id`) |\n| `REMOVE` | Remove line (requires `id`) |"
        },
        "operationId": "createGoodsInReceipt",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "goods_in_receipts"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/GoodsInReceiptAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "goods_in_receipts",
                  "attributes": {
                    "account_id": 1,
                    "warehouse_id": 1,
                    "reference": "PO-001",
                    "expected_date_of_arrival": "2024-01-15T10:00:00Z",
                    "lines_changes": [
                      {
                        "type": "ADD",
                        "attributes": {
                          "product_id": 123,
                          "expected_quantity": 100
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goods in receipt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "goods_in_receipts"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/GoodsInReceiptAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/goods_in_receipts/{id}": {
      "put": {
        "tags": [
          "Goods In Receipts"
        ],
        "summary": "Update a goods in receipt",
        "description": "Update an existing goods in receipt. Use lines_changes to add, update, or remove line items. Receipts that have started receiving may have restrictions on what can be changed.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"goods_in_receipts\",\n    \"attributes\": {\n      \"reference\": \"PO-2024-001-REV\",\n      \"expected_date_of_arrival\": \"2024-01-20T10:00:00Z\",\n      \"lines_changes\": [\n        {\n          \"type\": \"UPDATE\",\n          \"id\": 456,\n          \"attributes\": {\n            \"expected_quantity\": 150\n          }\n        },\n        {\n          \"type\": \"REMOVE\",\n          \"id\": 789\n        }\n      ]\n    }\n  }\n}\n```\n\n## Line Item Operations\n\n| Operation | Fields Required | Description |\n|-----------|-----------------|-------------|\n| `ADD` | `attributes` | Add new line item |\n| `UPDATE` | `id`, `attributes` | Modify existing line |\n| `REMOVE` | `id` | Delete line from receipt |"
        },
        "operationId": "updateGoodsInReceipt",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the goods in receipt to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "goods_in_receipts"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/GoodsInReceiptAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goods in receipt updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "goods_in_receipts"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/GoodsInReceiptAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Goods In Receipts"
        ],
        "summary": "Delete a goods in receipt",
        "description": "Delete a goods in receipt. Receipts that have started receiving cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete receipts that have started receiving\n- Only draft or pending receipts can be deleted"
        },
        "operationId": "destroyGoodsInReceipt",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the goods in receipt to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/goods_out_processes/process_picks_async": {
      "post": {
        "tags": [
          "Goods Out: Pick Lists"
        ],
        "summary": "Process picks asynchronously",
        "description": "Queue goods out orders for asynchronous pick list generation. This is the preferred method for processing orders as it runs in the background without blocking. Each order gets its own pick list unless using the consolidation endpoint.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"ids\": [101, 102, 103]\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `ids` | Yes | Array of goods out order IDs to process |\n\n## Prerequisites\n\n- Orders must be in PENDING or ALLOCATED status\n- Account/warehouse permissions must allow pick processing\n\n## Behavior\n\n- Returns process_references for tracking pick list generation\n- Each order gets its own pick list (use `/process_and_consolidate_picks` to merge)\n- Orders are grouped by warehouse\n- Crossdock orders are processed separately from sales orders\n- Pick type can be `standard` (traditional picking) or `tote` (container-based batch picking)\n\n## Tracking Status\n\nPoll for completion via GraphQL:\n\n```graphql\nquery {\n  pickProcessingRequests(filter: { process_reference: { eq: \"abc123def456\" } }) {\n    edges {\n      node {\n        id\n        status\n        process_reference\n        message\n        created_at\n        updated_at\n      }\n    }\n  }\n}\n```\n\nStatus values: `pending`, `completed`, `failed`\n\n## Error Codes\n\n| Code | Symbol | Description |\n|------|--------|-------------|\n| 36 | empty_ids_provided | No order IDs provided |\n| 37 | invalid_ids_provided | Some IDs do not exist |\n| 39 | not_enough_stocks_for_picking | Insufficient stock available |\n| 59 | goods_out_already_allocated | Order already processed |"
        },
        "operationId": "processPicksAsync",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PickProcessingRequest"
              },
              "example": {
                "ids": [1, 2, 3]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pick processing queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickProcessingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/goods_out_processes/process_and_consolidate_picks": {
      "post": {
        "tags": [
          "Goods Out: Pick Lists"
        ],
        "summary": "Process and consolidate picks",
        "description": "Process multiple goods out orders into a single consolidated pick list. All orders must have the same pick_type (standard or tote). Crossdock orders are always processed separately.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"ids\": [101, 102, 103],\n  \"goods_out_pick_list_attributes\": {\n    \"goods_out_pick_list_reference\": \"BATCH-2024-001\",\n    \"expected_date_of_dispatch\": \"2024-01-20T14:00:00Z\",\n    \"goods_out_bay_id\": 42\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `ids` | Yes | Array of goods out order IDs to consolidate |\n| `goods_out_pick_list_attributes` | No | Optional attributes for the created pick list |\n| `goods_out_pick_list_reference` | No | Custom reference for the consolidated pick list |\n| `expected_date_of_dispatch` | No | Target dispatch date for the pick list |\n| `goods_out_bay_id` | No | Staging location ID (must be location_type: GOBAY) |\n\n## Prerequisites\n\n- Orders must be in PENDING or ALLOCATED status\n- All orders must have the same `pick_type` (standard or tote)\n\n## Behavior\n\n- Returns process_references for tracking pick list generation\n- Merges multiple orders into a single consolidated pick list\n- Crossdock orders are always processed separately (not consolidated)\n- Sales orders and work orders can be consolidated together if same pick_type\n\n## Tracking Status\n\nPoll for completion via GraphQL:\n\n```graphql\nquery {\n  pickProcessingRequests(filter: { process_reference: { eq: \"abc123def456\" } }) {\n    edges {\n      node {\n        id\n        status\n        process_reference\n        message\n      }\n    }\n  }\n}\n```\n\nStatus values: `pending`, `completed`, `failed`\n\n## Error Codes\n\n| Code | Symbol | Description |\n|------|--------|-------------|\n| 36 | empty_ids_provided | No order IDs provided |\n| 37 | invalid_ids_provided | Some IDs do not exist |\n| 39 | not_enough_stocks_for_picking | Insufficient stock available |\n| 59 | goods_out_already_allocated | Order already processed |\n| 318 | goods_outs_with_different_pick_types_cannot_be_consolidated | Mixed pick types in batch |"
        },
        "operationId": "processAndConsolidatePicks",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsolidatedPickRequest"
              },
              "example": {
                "ids": [1, 2, 3],
                "goods_out_pick_list_attributes": {
                  "goods_out_pick_list_reference": "BATCH-2024-001",
                  "expected_date_of_dispatch": "2024-01-20T14:00:00Z",
                  "goods_out_bay_id": 42
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pick processing queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PickProcessingResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/goods_out_pick_lists/{id}": {
      "put": {
        "tags": [
          "Goods Out: Pick Lists"
        ],
        "summary": "Update a pick list",
        "description": "Update an existing pick list's attributes such as its reference.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"goods_out_pick_lists\",\n    \"attributes\": {\n      \"reference\": \"PL-2024-001-REV\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `reference` | No | Updated pick list reference |"
        },
        "operationId": "updateGoodsOutPickList",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pick list to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "goods_out_pick_lists"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Pick list attributes to update",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "nullable": true,
                            "description": "Pick list reference"
                          },
                          "string1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 1"
                          },
                          "string2": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 2"
                          },
                          "string3": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 3"
                          },
                          "string4": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 4"
                          },
                          "string5": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 5"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pick list updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Pick list ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "goods_out_pick_lists"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/GoodsOutPickListAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Goods Out: Pick Lists"
        ],
        "summary": "Delete a pick list",
        "description": "Delete a pick list. This does not delete the associated goods out orders.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Does not delete associated goods out orders\n- Pick lists in progress may not be deletable"
        },
        "operationId": "destroyGoodsOutPickList",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the pick list to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/goods_out_processes/short_order_lines": {
      "post": {
        "tags": [
          "Goods Out: Processing"
        ],
        "summary": "Short order lines",
        "description": "Process partially allocated orders by marking unallocated lines as short. Used when stock is insufficient and orders need to ship with available quantities.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"ids\": [101, 102, 103],\n  \"description\": \"Stock unavailable - shipping partial order\",\n  \"reason_code_id\": 5\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `ids` | Yes | Array of goods out order IDs to short |\n| `description` | Yes | Free text reason for shorting (audit trail) |\n| `reason_code_id` | No | Reference to configurable ReasonCode lookup table |\n\n## Prerequisites\n\n- Account must have `is_short_pickable: true`\n- Orders should be in PART_ALLOCATED status\n\n## Behavior\n\n- Marks unallocated order line quantities as short\n- Allows orders to proceed with partial fulfillment\n- Records reason in audit trail for compliance\n- Can use reason_code_id for standardized reasons (configurable per tenant)\n\n## Error Codes\n\n| Code | Symbol | Description |\n|------|--------|-------------|\n| 36 | empty_ids_provided | No order IDs provided |\n| 37 | invalid_ids_provided | Some IDs do not exist |"
        },
        "operationId": "shortOrderLines",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShortOrderLinesRequest"
              },
              "example": {
                "ids": [1, 2, 3],
                "description": "Stock unavailable - shipping partial order",
                "reason_code_id": 5
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Order lines shorted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/goods_outs": {
      "post": {
        "tags": [
          "Goods Out: Orders"
        ],
        "summary": "Create a goods out order",
        "description": "Create a new goods out order (sales order) for dispatching inventory from the warehouse.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"goods_outs\",\n    \"attributes\": {\n      \"goods_out_type\": \"sales_order\",\n      \"account_id\": 1,\n      \"reference\": \"SO-001\",\n      \"expected_date_of_dispatch\": \"2024-01-20T10:00:00Z\",\n      \"warehouse_id\": 1,\n      \"priority\": 1,\n      \"address\": {\n        \"name\": \"John Smith\",\n        \"address_1\": \"123 Main Street\",\n        \"postcode\": \"AB1 2CD\",\n        \"country_code\": \"GB\"\n      },\n      \"lines_changes\": [\n        {\n          \"type\": \"ADD\",\n          \"attributes\": {\n            \"product_id\": 123,\n            \"order_quantity\": 10\n          }\n        }\n      ]\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `goods_out_type` | Yes | Type of order: sales_order, work_order, or crossdock |\n| `account_id` | Yes | Stock account ID - owner of the stock |\n| `reference` | Yes | Your order reference number |\n| `expected_date_of_dispatch` | Yes | Target dispatch date |\n| `warehouse_id` | No | Warehouse to dispatch from |\n| `address` | No | Delivery address object |\n| `lines_changes` | No | Array of line items to add |"
        },
        "operationId": "createGoodsOut",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "goods_outs"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/GoodsOutAttributes"
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "goods_outs",
                  "attributes": {
                    "goods_out_type": "sales_order",
                    "account_id": 1,
                    "reference": "SO-001",
                    "expected_date_of_dispatch": "2024-01-20T10:00:00Z",
                    "warehouse_id": 1,
                    "address": {
                      "name": "John Smith",
                      "address_1": "123 Main Street",
                      "postcode": "AB1 2CD",
                      "country_code": "GB"
                    },
                    "lines_changes": [
                      {
                        "type": "ADD",
                        "attributes": {
                          "product_id": 123,
                          "order_quantity": 10
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goods out created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "goods_outs"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/GoodsOutAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "label": "JavaScript (fetch)",
            "source": "const response = await fetch('https://clarus-api.com/api/v1/goods_outs', {\n  method: 'POST',\n  headers: {\n    'Authorization': 'Bearer YOUR_ACCESS_TOKEN',\n    'Content-Type': 'application/json',\n    'X-Clarus-Subdomain': 'your-subdomain'\n  },\n  body: JSON.stringify({\n    data: {\n      type: 'goods_outs',\n      attributes: {\n        goods_out_type: 'sales_order',\n        account_id: 1,\n        reference: 'SO-001',\n        expected_date_of_dispatch: '2024-01-20T10:00:00Z',\n        warehouse_id: 1,\n        priority: 1,\n        address: {\n          name: 'John Smith',\n          address_1: '123 Main Street',\n          postcode: 'AB1 2CD',\n          country_code: 'GB'\n        },\n        lines_changes: [\n          {\n            type: 'ADD',\n            attributes: {\n              product_id: 123,\n              order_quantity: 10\n            }\n          }\n        ]\n      }\n    }\n  })\n});\n\nconst goodsOut = await response.json();"
          },
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "curl -X POST 'https://clarus-api.com/api/v1/goods_outs' \\\n  -H 'Authorization: Bearer YOUR_ACCESS_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -H 'X-Clarus-Subdomain: your-subdomain' \\\n  -d '{\n    \"data\": {\n      \"type\": \"goods_outs\",\n      \"attributes\": {\n        \"goods_out_type\": \"sales_order\",\n        \"account_id\": 1,\n        \"reference\": \"SO-001\",\n        \"expected_date_of_dispatch\": \"2024-01-20T10:00:00Z\",\n        \"warehouse_id\": 1,\n        \"priority\": 1,\n        \"address\": {\n          \"name\": \"John Smith\",\n          \"address_1\": \"123 Main Street\",\n          \"postcode\": \"AB1 2CD\",\n          \"country_code\": \"GB\"\n        },\n        \"lines_changes\": [\n          {\n            \"type\": \"ADD\",\n            \"attributes\": {\n              \"product_id\": 123,\n              \"order_quantity\": 10\n            }\n          }\n        ]\n      }\n    }\n  }'"
          }
        ]
      }
    },
    "/goods_outs/{id}": {
      "put": {
        "tags": [
          "Goods Out: Orders"
        ],
        "summary": "Update a goods out order",
        "description": "Update an existing goods out order. Use lines_changes to add, update, or remove line items. Orders that have started picking may have restrictions on what can be changed.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"goods_outs\",\n    \"attributes\": {\n      \"reference\": \"SO-001-REV\",\n      \"expected_date_of_dispatch\": \"2024-01-25T10:00:00Z\",\n      \"lines_changes\": [\n        {\n          \"type\": \"UPDATE\",\n          \"id\": 456,\n          \"attributes\": {\n            \"order_quantity\": 15\n          }\n        },\n        {\n          \"type\": \"REMOVE\",\n          \"id\": 789\n        }\n      ]\n    }\n  }\n}\n```\n\n## Line Item Operations\n\n| Operation | Fields Required | Description |\n|-----------|-----------------|-------------|\n| `ADD` | `attributes` | Add new line item |\n| `UPDATE` | `id`, `attributes` | Modify existing line |\n| `REMOVE` | `id` | Delete line from order |"
        },
        "operationId": "updateGoodsOut",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the goods out order to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "goods_outs"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/GoodsOutAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Goods out updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Goods out ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "goods_outs"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/GoodsOutAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Goods Out: Orders"
        ],
        "summary": "Delete a goods out order",
        "description": "Delete a goods out order. Orders that have started processing cannot be deleted - use cancel instead.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete orders that have started processing\n- Use cancel endpoint instead for in-progress orders"
        },
        "operationId": "destroyGoodsOut",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the goods out order to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/goods_outs/{id}/cancel": {
      "post": {
        "tags": [
          "Goods Out: Orders"
        ],
        "summary": "Cancel a goods out order",
        "description": "Cancel a goods out order that is in progress. This will deallocate any allocated stock and cancel outstanding pick tasks.",
        "x-mint": {
          "content": "## Cancellation Behavior\n\n| Order Status | Result |\n|--------------|--------|\n| Draft/Pending | Order deleted |\n| Allocated | Stock deallocated, order cancelled |\n| Picking | Outstanding picks cancelled, stock deallocated |\n| Completed | Cannot cancel - already dispatched |\n\n**Note**: No request body required. The order ID in the path is sufficient."
        },
        "operationId": "cancelGoodsOut",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the goods out order to cancel",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Goods out cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/groups/{group_id}/product_groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Add a product to a group",
        "description": "Create a product group association, linking a product to a group for categorization purposes.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"product_groups\",\n    \"attributes\": {\n      \"group_id\": 456,\n      \"product_id\": 123\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `group_id` | Yes | ID of the group (must match the path parameter) |\n| `product_id` | Yes | ID of the product to add to the group |"
        },
        "operationId": "createProductGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the group to add the product to",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "product_groups"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "group_id",
                          "product_id"
                        ],
                        "properties": {
                          "group_id": {
                            "type": "integer",
                            "description": "The ID of the group (must match the path parameter)"
                          },
                          "product_id": {
                            "type": "integer",
                            "description": "The ID of the product to add to the group"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "data": {
                  "type": "product_groups",
                  "attributes": {
                    "group_id": 456,
                    "product_id": 123
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product added to group successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "product_groups"
                          ]
                        },
                        "attributes": {
                          "type": "object",
                          "properties": {
                            "group_id": {
                              "type": "integer"
                            },
                            "product_id": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/groups/{group_id}/product_group": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Remove a product from a group",
        "description": "Delete a product group association, removing a product from a group.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Removes product from group without deleting the product\n- Pass `product_id` as query parameter"
        },
        "operationId": "destroyProductGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the group",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "required": true,
            "description": "The ID of the product to remove from the group",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Create an integration",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"integrations\",\n    \"attributes\": {\n      \"name\": \"Shopify Store\",\n      \"integration_type\": \"shopify\",\n      \"is_active\": true,\n      \"configuration\": {\n        \"api_key\": \"your-api-key\",\n        \"shop_domain\": \"mystore.myshopify.com\"\n      }\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `name` | Yes | Integration display name |\n| `integration_type` | Yes | Type: shopify, brightpearl, etc. |\n| `is_active` | No | Enable/disable integration |\n| `configuration` | No | Type-specific settings (JSON) |"
        },
        "description": "Create a new third-party integration for connecting to ecommerce platforms, carriers, or ERP systems.",
        "operationId": "createIntegration",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "integrations"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/IntegrationAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Integration ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "integrations"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/IntegrationAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/integrations/{id}": {
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "Update an integration",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"integrations\",\n    \"attributes\": {\n      \"name\": \"Shopify Store - Updated\",\n      \"is_active\": false,\n      \"configuration\": {\n        \"api_key\": \"new-api-key\"\n      }\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `name` | No | Updated integration name |\n| `is_active` | No | Enable/disable integration |\n| `configuration` | No | Updated configuration settings |"
        },
        "description": "Update an existing integration's name, configuration, or active status.",
        "operationId": "updateIntegration",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "integrations"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "type": "object",
                        "description": "Integration attributes to update",
                        "properties": {
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "description": "Integration name"
                          },
                          "is_active": {
                            "type": "boolean",
                            "nullable": true,
                            "description": "Active status"
                          },
                          "configuration": {
                            "type": "object",
                            "additionalProperties": true,
                            "nullable": true,
                            "description": "Configuration settings"
                          },
                          "string1": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 1"
                          },
                          "string2": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 2"
                          },
                          "string3": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 3"
                          },
                          "string4": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 4"
                          },
                          "string5": {
                            "type": "string",
                            "nullable": true,
                            "description": "Custom string field 5"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Integration ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "integrations"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/IntegrationAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "Delete an integration",
        "description": "Delete an integration. This does not affect orders or data already imported from the integration.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Does not affect orders or data already imported\n- Consider disabling instead to preserve mapping configuration"
        },
        "operationId": "destroyIntegration",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/integrations/{id}/synchronize": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Synchronize an integration",
        "description": "Trigger a manual synchronization of the integration to import orders, products, or stock levels from the connected system.",
        "x-mint": {
          "content": "## Behavior\n\nTriggers a background synchronization job for the integration. The sync type depends on the integration configuration.\n\n| Sync Type | Description |\n|-----------|-------------|\n| Orders | Import new orders from the platform |\n| Products | Sync product catalog changes |\n| Stock | Push stock levels to the platform |\n\n**Note**: No request body required. The integration ID in the path is sufficient."
        },
        "operationId": "synchronizeIntegration",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the integration to synchronize",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Synchronization triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/loads": {
      "post": {
        "tags": [
          "Loads"
        ],
        "summary": "Create a load",
        "description": "Create a new load to group shipments onto a vehicle for dispatch.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"loads\",\n    \"attributes\": {\n      \"reference\": \"LOAD-2024-001\",\n      \"warehouse_id\": 1,\n      \"carrier_id\": 5,\n      \"trailer_id\": 10,\n      \"expected_dispatch_date\": \"2024-01-20T14:00:00Z\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `reference` | No | Load reference number |\n| `warehouse_id` | Yes | Warehouse ID |\n| `carrier_id` | No | Carrier for transport |\n| `trailer_id` | No | Trailer/vehicle ID |\n| `expected_dispatch_date` | No | Planned dispatch date |"
        },
        "operationId": "createLoad",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "loads"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/LoadAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Load created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Load ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "loads"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/LoadAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/loads/{id}": {
      "put": {
        "tags": [
          "Loads"
        ],
        "summary": "Update a load",
        "description": "Update an existing load's attributes such as carrier, trailer, or dispatch date.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"loads\",\n    \"attributes\": {\n      \"carrier_id\": 6,\n      \"expected_dispatch_date\": \"2024-01-21T14:00:00Z\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `carrier_id` | No | Updated carrier |\n| `trailer_id` | No | Updated trailer/vehicle |\n| `expected_dispatch_date` | No | Updated dispatch date |"
        },
        "operationId": "updateLoad",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the load to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "loads"
                        ],
                        "description": "Resource type identifier"
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/LoadAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Load updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "Load ID"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "loads"
                          ],
                          "description": "Resource type"
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/LoadAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Loads"
        ],
        "summary": "Delete a load",
        "description": "Delete a load. Loads that have been dispatched cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete loads that have been dispatched\n- Removes associated shipments from the load"
        },
        "operationId": "destroyLoad",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the load to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/locations": {
      "post": {
        "tags": [
          "Locations"
        ],
        "summary": "Create a location",
        "description": "Create a new storage location in the warehouse. Locations define where stock can be stored and picked from.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"locations\",\n    \"attributes\": {\n      \"code\": \"A-01-01-01\",\n      \"warehouse_id\": 1,\n      \"location_type_id\": 1,\n      \"description\": \"Aisle A, Bay 01, Level 01, Position 01\",\n      \"barcode\": \"LOC-A010101\",\n      \"aisle\": \"A\",\n      \"bay\": \"01\",\n      \"level\": \"01\",\n      \"position\": \"01\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | Yes | Unique location code (max 60 chars) |\n| `warehouse_id` | Yes | ID of the warehouse |\n| `location_type_id` | Yes | Location type defining behavior |\n| `barcode` | No | Scannable barcode for RF devices |\n| `aisle`, `bay`, `level`, `position` | No | Physical location coordinates |"
        },
        "operationId": "createLocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "locations"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/LocationAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "locations"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/LocationAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/locations/{id}": {
      "put": {
        "tags": [
          "Locations"
        ],
        "summary": "Update a location",
        "description": "Update an existing location's attributes such as its code, description, or capacity settings.",
        "x-mint": {
          "content": "## Request Structure\n\n```json expandable\n{\n  \"data\": {\n    \"type\": \"locations\",\n    \"attributes\": {\n      \"description\": \"Updated description\",\n      \"barcode\": \"LOC-A010101-NEW\"\n    }\n  }\n}\n```\n\n## Key Fields\n\n| Field | Required | Description |\n|-------|----------|-------------|\n| `code` | No | Unique location code (max 60 chars) |\n| `description` | No | Location description |\n| `barcode` | No | Scannable barcode for RF devices |\n| `aisle`, `bay`, `level`, `position` | No | Physical location coordinates |"
        },
        "operationId": "updateLocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the location to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "locations"
                        ]
                      },
                      "attributes": {
                        "$ref": "#/components/schemas/LocationAttributes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Location updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "locations"
                          ]
                        },
                        "attributes": {
                          "$ref": "#/components/schemas/LocationAttributes"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "tags": [
          "Locations"
        ],
        "summary": "Delete a location",
        "description": "Delete a storage location. Locations with existing stock cannot be deleted.",
        "x-mint": {
          "content": "## Behavior\n\n- Returns 204 No Content on success\n- Cannot delete locations with existing stock\n- Move stock out before deleting"
        },
        "operationId": "destroyLocation",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Clarus-Subdomain"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the location to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
[...]
